@model CromWood.Business.Models.TenantModel

@{
    ViewData["Title"] = "BankDetail";
    Layout = "~/Views/Shared/_TenantDetail.cshtml";

    string id = "'" + Model.Id.ToString() + "'";
}

<div class="tab-pane fade show border border-top-0 active bg-white" id="bank_details" role="tabpanel"
     aria-labelledby="nav-roles-per-tab">
    <div class="card-header border-bottom-0 pb-0 bg-white">
        <div class="row align-items-center pb-3">
            <div class="col-6">
                <h4 class="heading-style2 mb-0">Bank Details</h4>
            </div>
            <div class="col-6">
                <div class="shadow-box ms-auto mt-2">
                    <a class="custom__btn" onclick="ModifyTenant(@id)">
                        <img src="~/assets/img/edit_icon.svg" alt="user__iocn">
                        Edit details
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-3">
        <table class="table">
            <tbody class="asset_table">
                <tr>
                    <th class="r_heading" scope="row">Account Name</th>
                    <td>@(Model.AccountName ?? "--")</td>
                </tr>
                <tr class="bg-white">
                    <th class="r_heading" scope="row">Account Number</th>
                    <td colspan="2">@(Model.AccountNumber ?? "--")</td>
                </tr>
                <tr>
                    <th class="r_heading" scope="row">Sort Code</th>
                    <td colspan="2">@(Model.SortCode ?? "--")</td>
                </tr>
                <tr class="bg-white">
                    <th class="r_heading" scope="row">Bank Name</th>
                    <td colspan="2">@(Model.BankName ?? "--")</td>
                </tr>
                <tr>
                    <th class="r_heading" scope="row">Address 1</th>
                    <td colspan="2">@(Model.AddressLine1 ?? "--")</td>
                </tr>
                <tr class="bg-white">
                    <th class="r_heading" scope="row">Address 2</th>
                    <td colspan="2">@(Model.AddressLine2 ?? "--")</td>
                </tr>
                <tr class="bg-white">
                    <th class="r_heading" scope="row">Town/ CIty</th>
                    <td colspan="2">@(Model.City ?? "--")</td>
                </tr>
                <tr class="bg-white">
                    <th class="r_heading" scope="row">Country</th>
                    <td colspan="2">@Model.Country?.Name</td>
                </tr>
                <tr class="bg-white">
                    <th class="r_heading" scope="row">Post Code</th>
                    <td colspan="2">@(Model.PostCode ?? "--")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="tenantDialog">
    <div class="modal-dialog modal-dialog-centered" id="tenantDialogBody">
    </div>
</div>


<script>
    function ModifyTenant(id) {
        var url = "/Tenant/ModifyTenant/" + id + "?from=bank";
        $("#tenantDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#tenantDialogBody").css("max-width", "950px");
            $("#tenantDialogBody").css("width", "100%");
            $("#tenantDialog").modal("show");
        });
    }
</script>