@model CromWood.Business.Models.TenancyNoteModel
<div class="modal-content rounded-0">
    <div class="modal-header py-2">
        <h5 class="modal-title" id="staticBackdropLabel">Add Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-0">
        <form asp-action="AddModifyNote" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m=>m.Id)
            <div class="px-3 pt-3">
                <div class="w-100 h-75 d-inline-block">
                    <textarea class="w-100" asp-for="Note" rows="4" cols="50"
                              placeholder="Start typing a note here..."></textarea>
                </div>
                <div class="row mb-2 mt-3 align-items-center">
                    <div class="col-md-4">
                        <h4 class="lc_label d-inline-block ">File (up to 128 mb)</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="">
                            <a for="formFileLg" class="form-label cf_btn custom__filetype" onclick="fileBtn.click()">
                                <img class="pe-1" src="~/assets/img/green__plus_icon.svg"
                                     alt="user__iocn">
                                CHOOSE FILE
                            </a>
                            <input asp-for="File" id="fileBtn" hidden class="form-control" />

                        </div>
                    </div>
                </div>
                <div class="date_p mt-3">
                    @Html.CheckBoxFor(m=>m.ScheduleForLater, new{@class="form-check-input"})
                    <h4 class="lc_label d-inline-block ">Schedule this note to appear on a later date</h4>
                </div>
                <div class="row">
                    <div class="col-md-5"><input type="date" asp-for="ScheduleDateTime"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="popup_footer_fixed text-end border-top d-flex justify-content-between">
                <div class="shadow-box">
                    <a class="custom__btn" href="#">
                        Cancel
                    </a>
                </div>
                @Html.HiddenFor(m=>m.TenancyId)
                @Html.HiddenFor(m=>m.FileUrl)
                <div class="shadow-box ms-auto">
                    <a class="custom__btn2" onclick="submitButton.click()">
                        <img src="~/assets/img/save-role.svg" alt="user__iocn">Add Note
                    </a>
                    <input id="submitButton" hidden class="custom__btn2" type="submit" value="Add Note" />

                </div>
            </div>
        </form>
    </div>
</div>

@* <div class="modal-content rounded-0">
    <div class="modal-header py-2">
        <h5 class="modal-title" id="staticBackdropLabel">Add Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form asp-action="AddModifyNote" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m=>m.Id)
           
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleForLater" class="control-label"></label>
                <input asp-for="ScheduleForLater" type="checkbox" class="form-control" />
                <span asp-validation-for="ScheduleForLater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleDateTime" class="control-label"></label>
                <input asp-for="ScheduleDateTime" class="form-control" />
                <span asp-validation-for="ScheduleDateTime" class="text-danger"></span>
            </div>
            <div class="col-md-8 mt-1">
                <div class="mb-3">
                    <a for="formFileLg" class="form-label cf_btn custom__filetype" onclick="fileBtn.click()">
                        <img class="pe-1" src="~/assets/img/green__plus_icon.svg"
                             alt="user__iocn">
                        CHOOSE FILE
                    </a>
                </div>
                <input asp-for="File" id="fileBtn" hidden class="form-control" />
            </div>

            @Html.HiddenFor(m=>m.TenancyId)
            @Html.HiddenFor(m=>m.FileUrl)
            <div  class="text-end border-top pt-3 mt-5">
                <input class="custom__btn2" type="submit" value="Add Note" />
            </div>
        </form>
    </div>
</div> *@
