@using CromWood.Business.Services.Interface;
@model CromWood.Business.Models.TenancyMessageModel
@inject ITenancyService _tenancyService;
@{
    var tenantsAsync = await _tenancyService.GetTenancyTenants(Model.TenancyId);
    var tenants = tenantsAsync.Data;

    var mediumList = new List<string>() { "Email", "Message" };
}

<div class="modal-content rounded-0 model-custom-bg">
    <div class="modal-header py-2 bg-white">
        <h5 class="modal-title" id="staticBackdropLabel">New Message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="step_body_content3 mb-3 pe-2">
            <div class="mb-3 border p-3 bg-white h-100">
                <form asp-action="AddModifyMessage" method="post">
                    @Html.HiddenFor(m=>m.Id)
                    @Html.HiddenFor(m=>m.TenancyId)
                    @Html.HiddenFor(m=>m.AttachmentUrl)
                    @Html.HiddenFor(m=>m.IsDraft)
                    <div class="row mb-2 pb-1">
                        <div class="col-md-2">
                            <label for="" class="form-label mb-0">Tenants</label>
                        </div>
                        <div class="col-md-10">
                            @foreach (var tenant in tenants)
                            {
                                <p class="pagagraph mb-0">@tenant.FullName (@tenant.Email)</p>
                            }
                        </div>
                    </div>
                    <div class="row mb-2 pb-1 align-items-center">
                        <div class="col-md-2">
                            <label for="" class="form-label mb-0">Send Via</label>
                        </div>
                        <div class="col-md-10">
                            <div class="email_whatapp">
                                @foreach (var medium in mediumList)
                                {
                                    string className = medium == "Email" ? "email__box" : "whatapp__box";
                                    string imageWhite = medium == "Email" ? "envelop_w_icon.svg" : "whatapp_white_icon.svg";
                                    string imageBlack = medium == "Email" ? "envelop_b_icon.svg" : "whatapp_icon.svg";

                                    <span class="@className">
                                        <input type="radio" id="@medium" asp-for="Medium" value="@medium" checked>
                                        <label for="@medium">
                                            <span class="w__1">
                                                <span class="text-white font14_inter text-capitalize">@medium</span>
                                                <img src="~/assets/img/@imageWhite" alt="email_icon">
                                            </span>
                                            <span class="b__2">
                                                <span class="text-black font14_inter text-capitalize">@medium</span>
                                                <img src="~/assets/img/@imageBlack" alt="email_icon">
                                            </span>
                                        </label>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="input__field w-100">
                        <input type="text" class="form-control" asp-for="Subject" placeholder="Enter Subject Here">
                    </div>
                    <div class="mt-2 pt-1">
                        <!-- texteditor -->
                        <textarea id="editor" asp-for="Message">
                        </textarea>
                    </div>
                    <div class="mt-3">
                        <label for="Attachments" class="form-label me-3">Attachments</label>
                        <a for="formFileLg" class="c_file form-label custom__filetype" onclick="formFileLg.click()">
                            <img class="pe-1"
                                 src="~/assets/img/chosefile.svg" alt="chosefile">
                            CHOOSE FILE
                        </a>
                        <input class="form-control" id="formFileLg" type="file" hidden>
                    </div>
                    <input type="submit" id="submitButton" hidden />
                </form>

            </div>
        </div>
        <div class="popup_footer_fixed border-top d-flex justify-content-between bg-white">
            <div class="pair_btn ms-auto">
                <div class="shadow-box ms-auto">
                    <span class="custom__btn">
                        <a onclick="submitWithDraft()">
                            Save as Draft
                        </a>
                    </span>
                    <span class="custom__btn2">
                        <a onclick="submitButton.click()">
                            Send
                            <img src="~/assets/img/send__icon.svg" alt="send_icon">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        // Edtor library start here
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                console.log(editor)
            })
            .catch(error => {
                console.error(error);
            });
    });

    function submitWithDraft(){
        $("#IsDraft").attr('value', 'true')
        $("#submitButton").click();
    }
</script>
