@using CromWood.Business.Models.ViewModel;
@using CromWood.Business.Models;
@using CromWood.Business.Services.Interface;
@using CromWood.Data.Entities.Default;
@model CromWood.Business.Models.TenancyModel
@inject ILookupService<TenantType> _lookupTenantService;
@inject ILookupService<PropertyType> _lookupPropertyType;
@inject ILookupService<ContractType> _lookupContractType;
@inject ILookupService<RentFrequency> _lookupRentFrequency;
@inject ILookupService<PaymentMethod> _lookupPaymentMethod;
@inject ILookupService<TransactionType> _lookupTransactionType
@inject ILookupService<Salution> _lookupSalutation;
@inject ILookupService<Country> _lookupCountry;

@inject IPropertyService _propertyService;
@inject ITenantService _tenantService;

@{

    var newTenancyTenant = new List<TenancyTenantModel>();
    Model.TenancyTenants = newTenancyTenant;


    var asyncTenantType = await _lookupTenantService.GetAllItems();
    var tenantTypes = new SelectList(asyncTenantType.Data, "Id", "Name");

    var asyncPropertyType = await _lookupPropertyType.GetAllItems();
    var propertyTypes = new SelectList(asyncPropertyType.Data, "Id", "Name");

    var asyncContractType = await _lookupContractType.GetAllItems();
    var contractTypes = new SelectList(asyncPropertyType.Data, "Id", "Name");

    var asyncRentFrequency = await _lookupRentFrequency.GetAllItems();
    var rentFrequency = new SelectList(asyncPropertyType.Data, "Id", "Name");

    var asyncPaymentMethod = await _lookupPaymentMethod.GetAllItems();
    var paymentMethods = new SelectList(asyncPropertyType.Data, "Id", "Name");

    var asyncTransactionType = await _lookupTransactionType.GetAllItems();
    var transactionTypes = new SelectList(asyncTransactionType.Data, "Id", "Name");

    var asyncProperties = await _propertyService.GetPropertyForList();
    var properties = new SelectList(asyncProperties.Data, "Id", "Asset.StreetAddress");

    var asyncSalutions = await _lookupSalutation.GetAllItems();
    var salutations = asyncSalutions.Data;

    var asyncCountries = await _lookupCountry.GetAllItems();
    var countries = asyncCountries.Data;

    var asyncTenants = await _tenantService.GetTenantForList();
    var tenants = asyncTenants.Data;


    string salutationOptionString = "";
    string countryOptionString = "";
    string tenantString = "";
    foreach (var salutation in salutations)
    {
        salutationOptionString = salutationOptionString + "<option value=" + salutation.Id + ">" + salutation.Name + "</option>";
    }
    foreach (var country in countries)
    {
        countryOptionString = countryOptionString + "<option value=" + country.Id + ">" + country.Name + "</option>";
    }
    foreach (var tenant in tenants)
    {
        tenantString = tenantString + "<option value=" + tenant.Id + ">" + tenant.FullName + "</option>";
    }

}

<div class="modal-content rounded-0">
    <div class="modal-header py-2 position-relative w-100 bg-white">
        <h5 class="modal-title" id="staticBackdropLabel">Add Tenancy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-4">
        <div class="col-md-12">
            <form asp-action="AddTenancy">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m=>m.TenancyId)
                <div class="form-group">
                    <label class="form-label">Tenancy ID</label>
                    <input asp-for="TenancyId" disabled class="form-control" />
                    <span asp-validation-for="TenancyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-label">Tenant Type</label>
                        <select class="form-select" asp-for="@Model.TenancyTypeId" asp-items="tenantTypes">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-label">Property</label>
                        <select class="form-select" asp-for="@Model.PropertyId" asp-items="properties">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-label">Contract Type</label>
                        <select class="form-select" asp-for="@Model.ContractTypeId" asp-items="contractTypes">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">No Of Tenants</label>
                    <input type="number" asp-for="NoOfTenants" class="form-control" />
                    <span asp-validation-for="NoOfTenants" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Start Date</label>
                    <input type="date" asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">End Date</label>
                    <input type="date" asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Rent Amount</label>
                    <input type="number" asp-for="RentAmount" class="form-control" />
                    <span asp-validation-for="RentAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-label">Rent Frequency</label>
                        <select class="form-select" asp-for="@Model.RentFrequencyId" asp-items="rentFrequency">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-label">Payment method</label>
                        <select class="form-select" asp-for="@Model.PaymentMethodId" asp-items="paymentMethods">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Security Deposit</label>
                    <input asp-for="SecurityDeposit" class="form-control" />
                    <span asp-validation-for="SecurityDeposit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Split Between Tenants</label>
                    <input asp-for="SplitBetweenTenants" class="form-control" />
                    <span asp-validation-for="SplitBetweenTenants" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Schedule Rent Statement</label>
                    <input asp-for="ScheduleRentStatement" class="form-control" />
                    <span asp-validation-for="ScheduleRentStatement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Statement Due Day</label>
                    <input asp-for="StatementDueDay" class="form-control" />
                    <span asp-validation-for="StatementDueDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Bank Name</label>
                    <input asp-for="BankName" class="form-control" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Account Number</label>
                    <input asp-for="AccountNumber" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Bank Code</label>
                    <input asp-for="BankCode" class="form-control" />
                    <span asp-validation-for="BankCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-label">Transaction Type</label>
                        <select class="form-select" asp-for="@Model.TransactionTypeId" asp-items="transactionTypes">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Move In Date</label>
                    <input asp-for="MoveInDate" class="form-control" />
                    <span asp-validation-for="MoveInDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Paid By</label>
                    <input asp-for="PaidBy" class="form-control" />
                    <span asp-validation-for="PaidBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Contact Fee Applicable</label>
                    <input asp-for="ContactFeeApplicable" class="form-control" />
                    <span asp-validation-for="ContactFeeApplicable" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Contract Fee</label>
                    <input asp-for="ContractFee" class="form-control" />
                    <span asp-validation-for="ContractFee" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Transaction Description</label>
                    <input asp-for="TransactionDescription" class="form-control" />
                    <span asp-validation-for="TransactionDescription" class="text-danger"></span>
                </div>

                <button onclick="AddRow()" type="button">Add Tenant</button>
                <div id="tenantAdder">
                    @* These tenant form are added dynamically *@
                    @* Here we should have option to decide either to add existing one or add new tenant *@
                    @* @for (i = 0; i <= count; i++)
                    {
                    Model.TenancyTenants.Add(new TenancyTenantModel() { Tenant = new TenantModel() });
                    <div class="form-group">
                    <label class="form-label"> Salutation </label>
                    <select asp-for="@Model.TenancyTenants[i].Tenant.SalutationId" asp-items="salutations" class="form-control"></select>
                    </div>

                    <div class="form-group">
                    <label class="form-label"> Tenant Name </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.FullName" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label"> Phone </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.Phone" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label"> Email </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.Email" class="form-control" />
                    </div>
                    <p>Tenant Address</p>
                    <div class="form-group">
                    <label class="form-label">Address Line 1 </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.AddressLine1" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label">Address Line 2 </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.AddressLine2" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label">Street Area </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.StreetArea" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label">Landmark </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.Landmark" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label">City </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.AddressLine2" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label">County </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.County" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label">Postal code </label>
                    <input asp-for="@Model.TenancyTenants[i].Tenant.PostCode" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label class="form-label"> Country </label>
                    <select asp-for="@Model.TenancyTenants[i].Tenant.CountryId" asp-items="countries" class="form-control"></select>
                    </div>
                    } *@
                </div>
                <div class="form-group">
                    <input class="custom__btn2" type="submit" value="Add Tenancy" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var counter = 0;
    var salutationOptions = '@salutationOptionString';
    var countryOptions = '@countryOptionString';
    var tenantOptions = '@tenantString';

    function AddRow() {
        // This is done to replace the pattern because c# to js give us this pattern.
        salutationOptions = salutationOptions.replaceAll("&lt;", "<");
        salutationOptions = salutationOptions.replaceAll("&gt;", ">"); countryOptions = countryOptions.replaceAll("&lt;", "<");
        countryOptions = countryOptions.replaceAll("&gt;", ">"); tenantOptions = tenantOptions.replaceAll("&lt;", "<");
        tenantOptions = tenantOptions.replaceAll("&gt;", ">"); $("#tenantAdder").append(` <div id="Tenant-Section-${counter}">

      <div class="border p-3 border-bottom-0 bg-white">
        <div class="form-check form-check-inline ps-5 ms-5">
          <input id="newTenantCheckbox-${counter}" class="form-check-input" type="checkbox">
          <label class="form-check-label">Add New Tenant or Existing Tenant</label>
        </div>
      </div>

      <div id="newTenantSection-${counter}" style="display:none">

        <div class="form-group">
          <label class="form-label"> Salutation </label>
          <select class="form-control" data-val="true" data-val-required="The SalutationId field is required."
            id="TenancyTenants_${counter}__Tenant_SalutationId" name="TenancyTenants[${counter}].Tenant.SalutationId">
            ${salutationOptions}
          </select>
        </div>
        <div class="form-group">
          <label class="form-label"> Tenant Name </label>
          <input class="form-control" type="text" data-val="true"
            data-val-maxlength="The field FullName must be a string or array type with a maximum length of '100'."
            data-val-maxlength-max="100" data-val-required="The FullName field is required."
            id="TenancyTenants_${counter}__Tenant_FullName" maxlength="100"
            name="TenancyTenants[${counter}].Tenant.FullName" value="">
        </div>
        <div class="form-group">
          <label class="form-label"> Phone </label>
          <input class="form-control" type="text" data-val="true"
            data-val-maxlength="The field Phone must be a string or array type with a maximum length of '20'."
            data-val-maxlength-max="20" data-val-required="The Phone field is required."
            id="TenancyTenants_${counter}__Tenant_Phone" maxlength="20" name="TenancyTenants[${counter}].Tenant.Phone"
            value="">
        </div>
        <div class="form-group">
          <label class="form-label"> Email </label>
          <input class="form-control" type="text" data-val="true" data-val-required="The Email field is required."
            id="TenancyTenants_${counter}__Tenant_Email" name="TenancyTenants[${counter}].Tenant.Email" value="">
        </div>
        <p>Tenant Address</p>
        <div class="form-group">
          <label class="form-label">Address Line 1 </label>
          <input class="form-control" type="text" data-val="true"
            data-val-maxlength="The field AddressLine1 must be a string or array type with a maximum length of '100'."
            data-val-maxlength-max="100" id="TenancyTenants_${counter}__Tenant_AddressLine1" maxlength="100"
            name="TenancyTenants[${counter}].Tenant.AddressLine1" value="">
        </div>
        <div class="form-group">
          <label class="form-label">Address Line 2 </label>
          <input class="form-control" type="text" data-val="true"
            data-val-maxlength="The field AddressLine2 must be a string or array type with a maximum length of '100'."
            data-val-maxlength-max="100" id="TenancyTenants_${counter}__Tenant_AddressLine2" maxlength="100"
            name="TenancyTenants[${counter}].Tenant.AddressLine2" value="">
        </div>
        <div class="form-group">
          <label class="form-label">Street Area </label>
          <input class="form-control" type="text" data-val="true"
            data-val-maxlength="The field StreetArea must be a string or array type with a maximum length of '100'."
            data-val-maxlength-max="100" id="TenancyTenants_${counter}__Tenant_StreetArea" maxlength="100"
            name="TenancyTenants[${counter}].Tenant.StreetArea" value="">
        </div>
        <div class="form-group">
          <label class="form-label">Landmark </label>
          <input class="form-control" type="text" data-val="true"
            data-val-maxlength="The field Landmark must be a string or array type with a maximum length of '100'."
            data-val-maxlength-max="100" id="TenancyTenants_${counter}__Tenant_Landmark" maxlength="100"
            name="TenancyTenants[${counter}].Tenant.Landmark" value="">
        </div>
        <div class="form-group">
          <label class="form-label">City </label>
          <input class="form-control" type="text" id="TenancyTenants_${counter}__Tenant_City" maxlength="100"
            name="TenancyTenants[${counter}].Tenant.City" value="">
        </div>
        <div class="form-group">
          <label class="form-label">County </label>
          <input class="form-control" type="text" data-val="true"
            data-val-maxlength="The field County must be a string or array type with a maximum length of '100'."
            data-val-maxlength-max="100" id="TenancyTenants_${counter}__Tenant_County" maxlength="100"
            name="TenancyTenants[${counter}].Tenant.County" value="">
        </div>
        <div class="form-group">
          <label class="form-label">Postal code </label>
          <input class="form-control" type="text" data-val="true"
            data-val-maxlength="The field PostCode must be a string or array type with a maximum length of '10'."
            data-val-maxlength-max="10" id="TenancyTenants_${counter}__Tenant_PostCode" maxlength="10"
            name="TenancyTenants[${counter}].Tenant.PostCode" value="">
        </div>
        <div class="form-group">
          <label class="form-label"> Country </label>
          <select class="form-control" id="TenancyTenants_${counter}__Tenant_CountryId"
            name="TenancyTenants[${counter}].Tenant.CountryId">
            <option value="null" selected>None</option>
            ${countryOptions}
          </select>
        </div>
      </div>

      <div id="existingTenantSection-${counter}">
        <div class="form-group">
          <label class="form-label"> Tenant </label>
          <select class="form-control" id="TenancyTenants_${counter}__TenantId" name="TenancyTenants[${counter}].Tenant.Id">
            <option value="00000000-0000-0000-0000-000000000000" selected>None</option>
            ${tenantOptions}
          </select>
        </div>
      </div>
      <button onclick="RemoveRow(${counter})" type="button">Remove Tenant</button>
      </div>
      `);

        $(`#newTenantCheckbox-${counter}`).change(function (e) {
            const checked = $(this).is(':checked');
            if (checked) {
                $(`#newTenantSection-${counter - 1}`).show()
                $(`#existingTenantSection-${counter - 1}`).hide();
                // This should clear value from Selected tenant if any;
                $(`#TenancyTenants_${counter - 1}__TenantId`).prop("value", "00000000-0000-0000-0000-000000000000")
            }
            else {
                $(`#existingTenantSection-${counter - 1}`).show()
                $(`#newTenantSection-${counter - 1}`).hide()
            }
        });
        counter++;
    }

    function RemoveRow(position) {
        $(`#Tenant-Section-${position}`).remove();
    }
    
</script>