@using CromWood.Business.Models.ViewModel;
@using System.Globalization;
@model IEnumerable<TenancyViewModel>
@{
    var propertyId = "";
    if (ViewBag.PropertyId != Guid.Empty)
    {
        propertyId = ViewBag.PropertyId.ToString();
    }
}

<ol class="breadcrumb align-items-end mb-10 mt-3">
    <li class="breadcrumb-item">
        <a asp-action="Index" asp-controller="Test" ><img src="~/assets/img/Home_icon.svg" alt="home_iocn"></a>
    </li>
    <li class="breadcrumb-item active">Tenancy Management</li>
</ol>

<div class="row">
    <div class="col-xl-6">
        <h1 class="mt-2 mb-3 custom_h">All Tenancies</h1>
    </div>
    <div class="col-xl-6">
        <span class="pair_btn">
            <div class="shadow-box ms-auto">
                <span class="custom__btn">
                    <form asp-action="Export" method="post">
                        <a onclick="submitBtn.click()" >
                            <img src="~/assets/img/explor_icon.svg" class="pe-2" alt="">
                            Export XLS
                        </a>
                        <input id="submitBtn" type="submit" hidden />
                    </form>
                </span>
                <span class="custom__btn2">
                    <a onclick="AddTenancy()">
                        <img src="~/assets/img/add_new_icon.svg" class="pe-2" alt="">
                        add Tenancy
                    </a>
                </span>
            </div>
        </span>
    </div>
    
</div>


<!-- ----filter start here --- -->
<div class="filter_btn ms-auto">
    <a class="" href="#" role="button" id="fil_ter" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="pe-1" src="~/assets/img/filter-lines.svg" alt="user__iocn">
        Filter
        <img class="ps-2" src="~/assets/img/filter_down_arrow.svg">
    </a>

    <div class="filter___c dropdown-menu dropdown-menu-end shadow border rounded-0 p-3"
         aria-labelledby="fil_ter">
        <div class="input-group mb-3">
            <span class="input-group-text bg-transparent" id="srf">
                <img src="~/assets/img/search-gray.svg" alt="search_iocn">
            </span>
            <input type="text" class="form-control border-start-0 ps-0"
                   placeholder="Search for filters" aria-label="Username" aria-describedby="srf">
        </div>
        <ul class="list-unstyled ft__list">
            <li>
                <a class="d-flex justify-content-between text-decoration-none py-1 px-2 rounded"
                   href="#">
                    <span>My Filter 1</span>
                    <span class="i__gro">
                        <span class="ed pe-2">
                            <img src="~/assets/img/Edit_white_Icon.svg" alt="edit">
                        </span>
                        <span class="de">
                            <img src="~/assets/img/delete_white_Icon.svg" alt="delete">
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a class="d-flex justify-content-between text-decoration-none py-1 px-2 rounded"
                   href="#">
                    <span>My Filter 2</span>
                    <span class="i__gro">
                        <span class="ed pe-2">
                            <img src="~/assets/img/Edit_white_Icon.svg" alt="edit">
                        </span>
                        <span class="de">
                            <img src="~/assets/img/delete_white_Icon.svg" alt="delete">
                        </span>
                    </span>
                </a>
            </li>
        </ul>
        <div class="mark__btn text-center">
            <img class="me-1" src="~/assets/img/green__plus_icon.svg" />
            <a href="#" class="text-uppercase">add new Filter</a>
        </div>
    </div>
</div>
<!-- ----- Tenancy Management table start here ------->
<div class="user__list show_sort_1 as__menag  sm48__row_table pt-0 pm_page_top_m table_bottom_border">
    <table id="datatablesSimple" class="border rounded-top border-bottom-0">
        <thead>
            <tr>
                <th class="maintable_head">Tenancy ID</th>
                <th class="maintable_head">Description</th>
                <th class="maintable_head">Start Date</th>
                <th class="maintable_head">End Date</th>
                <th class="maintable_head">Status</th>
                <th class="maintable_head">Rent</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="maintext_size align-top">
                        <a class="main-text u_n" asp-action="Detail" asp-route-id="@item.Id">
                            @item.TenancyId
                        </a>
                    </td>
                    <td class="maintext_size">
                        <a class="main-text">
                            @item.Property.PropertyType.Name No. @item.Property.FloorNumber <br> <img src="~/assets/img/Location.svg" alt=""> @item.Property.Asset.StreetAddress <br><span class="owner_clr">Owner</span>
                            <br>@item.Property.Asset.Ownership
                        </a>
                    </td>
                    <td class="maintext_size align-top">
                        @if (item.StartDate == default(DateTime))
                        {
                            <span>N/A</span>
                        }
                        else
                        {
                            <span>@item.StartDate.ToString("dd MMM, yyyy")</span>
                        }
                    </td>
                    <td class="maintext_size align-top">
                        @if (item.EndDate == default(DateTime))
                        {
                            <span>N/A</span>
                        }
                        else
                        {
                            <span>@item.EndDate.ToString("dd MMM, yyyy")</span>
                        }
                    </td>
                    <td class="maintext_size align-top">
                        @if (item.EndDate > DateTime.Now)
                        {
                            <div class="ongoing_btn">
                                <img class="pe-1" src="~/assets/img/check-file.svg" alt="">
                                Ongoing
                            </div>
                        }
                        else
                        {
                            <div class="past_btn">
                                <img class="pe-1" src="./assets/img/Completed_icon.svg" alt="">
                                Past
                            </div>
                        }
                    </td>
                    <td class="maintext_size align-top">@item.RentAmount.ToString("C", CultureInfo.CreateSpecificCulture("en-GB")).Replace("£", "£ ") @item.RentFrequency.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- ----- Tenancy Management table end here ------->

<div class="modal fade" id="tenancyDialog">
    <div class="modal-dialog modal-dialog-centered cm2_size step_model" id="tenancyDialogBody">
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        // Code for datatable manipulation
        var rowCount = $('.datatable-table tbody tr').length;
        var threshold = 10;
        if (rowCount < threshold) {
            $('.datatable-bottom').hide();
        } else {
            $('.datatable-bottom').show();
        }
        $(".datatable-table thead tr th button.datatable-sorter").append("<span class='c__icon'></span>");
        var filter = $(".filter_btn");
        $(".datatable-top").append(filter);

        var propertyId = '@propertyId';
        console.log(propertyId)

        if (propertyId != null && propertyId != '') {
            AddTenancy(propertyId);
        }
    });

    function AddTenancy(propertyId) {
        var url = "/Tenancy/AddTenancy?propertyId=" + propertyId;
        console.log(url);
        $("#tenancyDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#tenancyDialogBody").css("max-width", "950px");
            $("#tenancyDialogBody").css("width", "100%");
            $("#tenancyDialog").modal("show");
        });
    }
</script>