@model IEnumerable<CromWood.Business.Models.ViewModel.PaymentPlanViewModel>

@{
    ViewData["Title"] = "PaymentPlans";
    Layout = "~/Views/Shared/_TenancyDetail.cshtml";

    var rawId = ViewContext.RouteData.Values["id"] as string;
    string tenancyId = "'" + Guid.Parse(rawId).ToString() + "'";
    string emptyGuid = "'" + Guid.Empty.ToString() + "'";
}

<div class="tab-pane fade border border-top-0 bg-white active show" id="payment_plans" role="tabpanel"
     aria-labelledby="nav-roles-per-tab">
    <div class="px-3">
        <div class="row">
            <div class="col-xl-6">
                <h1 class="mt-4 mb-3 custom_h">Payment Plans</h1>
            </div>
            <div class="col-xl-6 mt-3">
                <div class="shadow-box ms-auto">
                    <a class="custom__btn" onclick="AddModifyPaymentPlan(@tenancyId, @emptyGuid)">
                        Add Payment Plan
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ser_lpading sm48__row_table pt-0 pm_page_top_m table_bottom_border hide_sort_all">
        <table id="Payment_Plans">
            <thead>
                <tr>
                    <th class="maintable_head">Ref ID</th>
                    <th class="maintable_head">Description</th>
                    <th class="maintable_head">Amount</th>
                    <th class="maintable_head">Installment</th>
                    <th class="maintable_head">No. of Installments</th>
                    <th class="maintable_head">Status</th>
                    <th class="maintable_head">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="align-top">
                            <a class="main-text u_n" href="#">
                                @item.Id.ToString().Substring(0,5).ToUpper()
                            </a>
                        </td>
                        <td class="align-top">
                            <span class="black_14  d-inline-block mb-1">
                                @item.Description
                            </span><br>
                        </td>
                        <td class="align-top">
                            <span class="black_14  d-inline-block mb-1">£ @item.Amount</span>
                        </td>
                        <td class="align-top">
                            <span class="black_14  d-inline-block mb-1">@item.InstallmentType.Name</span>
                        </td>
                        <td class="align-top">
                            <span class="black_14  d-inline-block mb-1">@item.NoOfInstallment</span>
                        </td>
                        <td class="align-top">
                            <div class="outstanding_btn payment">
                                <img src="~/assets/img/loading-02.svg" alt="loading" />Ongoing
                            </div>
                        </td>
                        <td class="text-end">
                            <a class="text-decoration-none" onclick="ViewPaymentPlan('@item.Id.ToString()')">
                                <img src="~/assets/img/eye.svg" />
                            </a>
                            <a class="text-decoration-none action_dropwown" href="#" role="button"
                               id="acp-action" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/assets/img/down_arrow.svg" class="ms-2" />
                            </a>
                            <ul class="dropdown-menu shadow border-0 dropdown-menu-end rounded-0 p-0"
                                aria-labelledby="acp-action">
                                <li><a class="dropdown-item" onclick="AddModifyPaymentPlanTransaction('@item.Id.ToString()', @tenancyId, @emptyGuid)">Add Transaction</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="paymentPlanAddEditDialog">
    <div class="modal-dialog modal-dialog-centered cm2_size rp_popup" id="paymentPlanAddEditDialogBody">
    </div>
</div>

<div class="modal fade" id="paymentPlanViewDialog">
    <div class="modal-dialog modal-dialog-centered modal-xl model_height" id="paymentPlanViewDialogBody">
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', event => {
        const Payment_Plans = document.getElementById('Payment_Plans');
        if (Payment_Plans) {
            new simpleDatatables.DataTable(Payment_Plans);
        }
        $(".datatable-table thead tr th button.datatable-sorter").append("<span class='c__icon'></span>");

        // Code for datatable manipulation
        var rowCount = $('.datatable-table tbody tr').length;
        var threshold = 10;
        if (rowCount < threshold) {
            $('.datatable-bottom').hide();
        } else {
            $('.datatable-bottom').show();
        }

        var filter = $(".filter_btn");
        $(".datatable-top").append(filter);

    });

    // Add Payment plan popup show
    function AddModifyPaymentPlan(tenancyId, id) {
        var url = `/Tenancy/AddModifyPaymentPlan?tenancyId=${tenancyId}&id=${id}`;
        $("#paymentPlanAddEditDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#paymentPlanAddEditDialogBody").css("width", "100%");
            $("#paymentPlanAddEditDialog").modal("show");
        });
    }

    function ViewPaymentPlan(id) {
        var url = `/Tenancy/ViewPaymentPlan?id=${id}`;
        $("#paymentPlanViewDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#paymentPlanViewDialogBody").css("width", "100%");
            $("#paymentPlanViewDialog").modal("show");
        });
    }

    function DeletePaymentPlan(id) {
        $.ajax({
            type: "POST",
            url: `/Tenancy/DeletePaymentPlan?id=${id}`,
            success: function (result) {
                window.location.reload();
            },
            error: function () {
            }
        })
    }

    function AddModifyPaymentPlanTransaction(paymentPlanId, tenancyId, id) {
        var url = `/Tenancy/AddModifyPaymentPlanTransaction?paymentPlanId=${paymentPlanId}&tenancyId=${tenancyId}&id=${id}`;
        $("#paymentPlanAddEditDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#paymentPlanAddEditDialogBody").css("width", "100%");
            $("#paymentPlanAddEditDialog").modal("show");
        });
    }

</script>