@model CromWood.Business.Models.ViewModel.RecurringChargeViewModel

<div>
    <h4>RecurringChargeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenancyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenancyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargerFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargerFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecurringBasisForId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecurringBasisForId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecurringFrequencyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecurringFrequencyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceRaisedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceRaisedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceRaisedToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceRaisedToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedPaymentDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedPaymentDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetAmount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
