@model CromWood.Business.Models.ViewModel.PropertyAssesmentViewModel

@{
    ViewData["Title"] = "InspectionDetail";
    Layout = "~/Views/Shared/_PropertyAssesmentDetail.cshtml";

    var id = "'" + Model.Id + "'";
}
<div class="tab-pane fade border border-top-0 show active" id="nav-inspection-details" role="tabpanel"
     aria-labelledby="nav-inspection-details-tab">
    <div class="d-flex justify-content-between align-items-center p-3 bg-white rounded">
        <h1 class="custom_h mb-0 pb-1">Inspection Details</h1>
        <div class="shadow-box ms-auto">
            <a class="custom__btn" onclick="AddModifyPropertyAssesment(@id)">
                <img src="~/assets/img/bd_edit.svg" alt="edit__iocn">
                Edit
            </a>
        </div>
    </div>
    <div class="bg-white" style="height: 100vh;">
        <div class="mx-3">
            <table class="w-100">
                <tbody class="asset_table">
                    <tr class="bg-white">
                        <th class="r_heading pt-2 pb-2" scope="row">Inspection ID</th>
                        <td class="main-text pt-2 pb-2">
                            <span>@Model.InspectionID</span>
                        </td>
                    </tr>
                    <tr class="bg-white">
                        <th class="r_heading pt-2 pb-2" scope="row">Property ID</th>
                        <td class="main-text pt-2 pb-2">
                            <span>@Model.Property.PropertyCode</span><span class="pca_divder">&nbsp;|&nbsp;</span>Property 1, 25
                            @Model.Property.Asset.StreetAddress
                        </td>
                    </tr>
                    <tr class="bg-white">
                        <th class="r_heading pt-2 pb-2" scope="row">Inspector</th>
                        <td class="pt-2 pb-2">@Model.InspectorName</td>
                    </tr>
                    <tr class="bg-white">
                        <th class="r_heading pt-2 pb-2" scope="row">Inspection Date</th>
                        <td class="pt-2 pb-2">@(Model.DateTime?.ToString("dddd MMM d, yyyy") ?? "--")</td>
                    </tr>
                    <tr class="bg-white">
                        <th class="r_heading pt-2 pb-2" scope="row">Inspection Time</th>
                        <td class="pt-2 pb-2">@(Model.DateTime?.ToString("hh:mm tt") ?? "--")</td>
                    </tr>
                    <tr class="bg-white">
                        <th class="r_heading pt-2 pb-2" scope="row">Inspection Notes</th>
                        <td class="pt-2 pb-2">
                            @(Model.InspectionNote ?? "--")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="propertyAssesmentDialog">
    <div class="modal-dialog modal-dialog-centered cm2_size step_model" id="propertyAssesmentDialogBody">
    </div>
</div>

<script>
    function AddModifyPropertyAssesment(assesmentId) {
        var url = `/PropertyAssesment/AddModifyPropertyAssesment?assesmentId=${assesmentId}`;
        $("#propertyAssesmentDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#propertyAssesmentDialog").modal("show");
        });
    }
</script>