@model CromWood.Business.Models.PropertyModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_PropertyDetail.cshtml";
}

<div class="m-3">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedMonthlyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedMonthlyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SquareFootage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SquareFootage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfBedroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfBedroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfBathroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfBathroom)
        </dd>
    </dl>
</div>