@using CromWood.Business.Constants;
@using CromWood.Business.Services.Interface;
@using CromWood.Business.Models.ViewModel;
@model IEnumerable<PropertyViewModel>
@inject IAuthService _authService;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var assetId = "";
    if (ViewBag.AssetId != Guid.Empty)
    {
        assetId = "'" + ViewBag.AssetId + "'";
    }
    var screenName = PermissionKeyConstant.PropertyManagement;
    var havePermission = await _authService.CheckPermission(PermissionKeyConstant.AssetManagement, PermissionConstant.CanWrite);
}

<ol class="breadcrumb align-items-end mb-10 mt-3">
    <li class="breadcrumb-item">
        <a asp-action="Index" asp-controller="Test"><img src="~/assets/img/Home_icon.svg" alt="home_iocn"></a>
    </li>
    <li class="breadcrumb-item active">Property Management</li>
</ol>
<div class="row">
    <div class="col-xl-6">
        <h1 class="mt-2 mb-3 custom_h">Property Management</h1>
    </div>

    <div class="col-xl-6">
        <div class="pair_btn">
            <div class="shadow-box ms-auto">
                <span class="custom__btn">
                    <form asp-action="Export" method="post">
                        <a onclick="submitBtn.click()">
                            <img src="~/assets/img/explor_icon.svg" class="pe-2" alt="">
                            Export XLS
                        </a>
                        <input id="submitBtn" type="submit" hidden />
                    </form>
                </span>
                <span class="custom__btn2">
                    <a onclick="CreateProperty()">
                        <img class="pe-2" src="~/assets/img/add_new_icon.svg" alt="">
                        add new Property
                    </a>
                </span>
            </div>
        </div>
    </div>

</div>

<div class="filter_btn ms-auto" id="filterBox">
</div>


<div class="user__list as__menag  sm48__row_table hide_sort_all pt-0 pm_page_top_m table_bottom_border mt-1">
    <table id="datatablesSimple" class="border rounded-top border-bottom-0">
        <thead>
            <tr>
                <th class="maintable_head">Property ID</th>
                <th class="maintable_head">Description</th>
                <th class="maintable_head">Tenancies</th>
                <th class="maintable_head">Status</th>
                <th class="maintable_head">Totals</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        var tenancyExist = item.Tenancies.Count > 0;
                        var availableToLet = tenancyExist ? (item.Tenancies.Any(x => x.EndDate > DateTime.Now) ? false : true) : true;
                        var availableDate = tenancyExist ? item.Tenancies.Max(x => x.EndDate) : DateTime.Now;
                        var latestTenancy = item.Tenancies.FirstOrDefault(x => x.EndDate == availableDate);
                    }
                    <td class="maintext_size align-top">
                        <a class="main-text u_n" asp-action="Detail" asp-route-id="@item.Id">
                            @item.PropertyCode
                        </a>
                    </td>
                    <td class="maintext_size">
                        <a class="main-text">
                            @item.PropertyType.Name No. @item.FloorNumber <br> <img src="~/assets/img/Location.svg" alt=""> @item.Asset.StreetAddress <br><span class="owner_clr">Owner</span>
                            <br>@item.Asset.Ownership
                        </a>
                    </td>
                    <td class="maintext_size align-top">
                        @if (tenancyExist)
                        {
                            <a class="main-text" href="#">
                                <a href="#" class="u_n"><span class="atl">@latestTenancy?.TenancyId</span></a>
                            </a>

                            <br>
                            <span class="d-inline-block pt-2">@latestTenancy?.TenancyTenants[0].Tenant.FullName</span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td class="maintext_size align-top ">
                        <a class="main-text" href="#">

                            @if (availableToLet)
                            {
                                <img src="~/assets/img/Ellipse 11.svg">
                                <a href="#" class="u_n"><span class="atl"> Available To Let</span></a>
                                <br>
                                <span class="owner_clr">Available From</span>
                                <br>
                                <span class="pm_date">@(availableDate.ToString("dd MMM yyyy"))</span>
                            }
                            else
                            {
                                <img src="~/assets/img/Ellipse 11 red.svg" class="pe-1" alt="">
                                <span class="occ">Occupied</span>
                                <br>
                                <span>-</span>
                            }

                        </a>
                    </td>

                    <td class="maintext_size">
                        <span class="owner_clr">Market Rent </span>
                        <br><span class="pm_date">£ @item.ExpectedMonthlyRate monthly</span><br>
                        <span class="owner_clr">Current Rent Amount</span>
                        <br><span class="pm_date">£ @item.ExpectedMonthlyRate monthly</span>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="propertyDialog">
    <div class="modal-dialog modal-dialog-centered cm2_size step_model" id="propertyDialogBody">
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $(".datatable-table thead tr th button.datatable-sorter").append("<span class='c__icon'></span>");

            // Code for datatable manipulation
            var rowCount = $('.datatable-table tbody tr').length;
            var threshold = 10;
            if (rowCount < threshold) {
                $('.datatable-bottom').hide();
            } else {
                $('.datatable-bottom').show();
            }

            var filter = $(".filter_btn");
            $(".datatable-top").append(filter);

            // For the Filter
            $("#filterBox").load("/Filter/Index?keyName=@screenName", function () {
                $("#filterBox").show();
            });

            var assetId = '@assetId';
            if (assetId != null && assetId != '') {
                CreateProperty(assetId);
            }
        });

        function CreateProperty(assetId) {
            var havePermission = '@havePermission.ToString()';
            if (havePermission == 'False') {
                $.get('/Auth/NotAuthorizedJSON', function (result) {
                    window.location.pathname = "/Auth/NotAuthorized"
                });
                return;
            }
            var url = "/Property/AddModifyProperty?assetId=" + assetId;
            $("#propertyDialogBody").load(url, function () {
                // This is done to add validation to partial view, as they don't support validationscript partial.
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                    $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                    });
                });
                $("#propertyDialogBody").css("width", "100%");
                $("#propertyDialog").modal("show");
            });
        }
    </script>
}