@model IEnumerable<CromWood.Business.Models.PropertyKeyModel>

@{
    ViewData["Title"] = "Keys";
    Layout = "~/Views/Shared/_PropertyDetail.cshtml";

    var rawId = ViewContext.RouteData.Values["id"] as string;
    string propertyId = "'" + Guid.Parse(rawId).ToString() + "'";
    string emptyGuid = "'" + Guid.Empty.ToString() + "'";
}

<div class="tab-pane fade show active border border-top-0 bg-white" role="tabpanel"
     aria-labelledby="nav-roles-per-tab">
    <div class="card-header border-bottom-0 pt-3 pb-0 bg-white">
        <div class="row align-items-start">
            <div class="col-6">
                <h4 class="heading-style2 mb-0">Keys</h4>
            </div>
            <div class="col-6 text-end d-flex justify-content-end">
                <div class="shadow-box">
                    <a onclick="AddModifyKey(@propertyId,@emptyGuid)" class="custom__btn">
                        <img class="pe-2" src="~/assets/img/plus.svg" alt="user__iocn">
                        Add key
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex;flex-wrap: wrap;">
        @foreach (var item in Model)
        {
            <div class="key_main">
                <div class="d-flex">
                    <div class="col-xl-7">
                        <div class="key_t">
                            <h6>@item.Name</h6>
                            <p class="p_key">@item.PropertyKeyType.Name</p>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="dropdown text-end">
                            <a href="#" class="action_dropwown" id="dropdownImage"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/assets/img/dots_Icon.svg" alt="Dropdown Trigger" />
                            </a>
                            <ul class="dropdown-menu shadow dropdown-menu-end border-0 rounded-0 p-0"
                                aria-labelledby="acp-action">
                                @{
                                    string url = "'" + item.Id.ToString() + "'";
                                }
                                <li><a class="dropdown-item" onclick="AddModifyKey(@propertyId,@url)">Edit</a></li>
                                <li><a class="dropdown-item" onclick="DeleteKey(@url)">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <table class="property_table">
                    <tbody class="key_table">
                        <tr>
                            <th class="key_heading" scope="row">Description</th>
                            <td class="k_data">@item.AdditionalInformation</td>
                        </tr>
                        <tr class="bg-white">
                            <th class="key_heading" scope="row">Quantity</th>
                            <td class="k_data" colspan="2">@item.Quantity</td>
                        </tr>
                        <tr>
                            <th class="key_heading" scope="row">Shared with</th>
                            <td class="k_data" colspan="2">@(item.SharedWithTenant == true ? "Tenant Name" : "N/A")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="keyDialog">
    <div class="modal-dialog modal-dialog-centered cm2_size add_edit_popup" id="keyDialogBody">
    </div>
</div>

<script>

    function AddModifyKey(propertyId, keyId) {
        var url = `/Property/AddModifyKey?propertyId=${propertyId}&keyId=${keyId}`;
        $("#keyDialogBody").load(url, function () {
            // This is done to add validation to partial view, as they don't support validationscript partial.
            $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                });
            });
            $("#keyDialog").modal("show");
        });
    }

    function DeleteKey(keyId) {
        $.ajax({
            type: "POST",
            url: `/Property/DeleteKey?keyId=${keyId}`,
            success: function (result) {
                window.location.reload();
            },
            error: function () {
            }
        })
    }

</script>