@using CromWood.Business.Models;
@using CromWood.Business.Services.Interface;
@model DashboardModel;
@inject IUserService _userService;

<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>

@* <div class="container-fluid"> *@
    <div class="d-flex justify-content-between align-items-sm-center flex-sm-row flex-column">
        <h1 class="mt-4 mb-3 custom_h">Dashboard</h1>
        <div class="d-flex justify-content-sm-between align-items-center mt-sm-2 mb-sm-0 mb-3 gap-2">
            <div class="input-container w150">
                <div class="input-group date__box date datepicker">
                    <input type="text" class="form-control pagagraph" placeholder="24/01/2024" id="start_date">
                    <span class="input-group-append">
                        <span class="date__icon bg-white">
                            <img src="./assets/img/date__icon.svg" alt="date_icon">
                        </span>
                    </span>
                </div>
            </div>
            @* Commm *@
            <span class="pagagraph">to</span>
            <div class="input-container w150">
                <div class="input-group date__box date datepicker">
                    <input type="text" class="form-control pagagraph" placeholder="24/01/2024" id="start_date">
                    <span class="input-group-append">
                        <span class="date__icon bg-white">
                            <img src="./assets/img/date__icon.svg" alt="date_icon">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="top___card top___card1 d-flex flex-xxl-nowrap flex-wrap gap-sm-2 gap-xxl-4 mb-3 justify-content-between">
        <div class="card_box border rounded p-3 bg-white">
            <span class="topcard__text">Overview of April 22 - March 23</span>
            <div class="d-flex justify-content-between mt-3">
                <div>
                    <h3>£ 46,589.00</h3>
                    <span class="topcard__text good_color">
                        <img class="me-1" src="./assets/img/green__arrow.svg" />
                        5.8%
                    </span>
                </div>
                <div>
                    <div class="mb-2 mb-xxl-3 text-end">
                        <img src="./assets/img/green__data_bar.svg" />
                    </div>
                    <span class="money__t">Money In</span>
                </div>
            </div>
        </div>
        <div class="card_box border rounded p-3 bg-white">
            <span class="topcard__text">Overview of April 22 - March 23</span>
            <div class="d-flex justify-content-between mt-3">
                <div>
                    <h3>£ 36,589.00</h3>
                    <span class="topcard__text red_color">
                        <img class="me-1" src="./assets/img/red__arrow.svg" />
                        5.8%
                    </span>
                </div>
                <div>
                    <div class="mb-2 mb-xxl-3 text-end">
                        <img src="./assets/img/red__data_bar.svg" />
                    </div>
                    <span class="money__t">Money Out</span>
                </div>
            </div>
        </div>
        <div class="card_box border rounded p-3 bg-white">
            <span class="topcard__text">Last 30 Days</span>
            <div class="d-flex justify-content-between mt-3">
                <div>
                    <h3>£ 24,840.00</h3>
                    <span class="topcard__text">Paid Invoices</span>
                </div>
                <div>
                    <div class="mb-2 mb-xxl-3 p_invoic text-end">
                        <img src="./assets/img/last_day_erning.svg" />
                    </div>
                    <span class="money__t">Inward Payments</span>
                </div>
            </div>
        </div>
        <div class="card_box border rounded p-3 bg-white">
            <span class="topcard__text">Last 30 Days</span>
            <div class="d-flex justify-content-between mt-3">
                <div>
                    <h3>£ 8,420.00</h3>
                    <span class="topcard__text">Open Invoices</span>
                </div>
                <div>
                    <div class="mb-2 mb-xxl-3 p_invoic text-end">
                        <img src="./assets/img/Cash payment.svg" class="ivn" />
                    </div>
                    <span class="money__t">Invoices</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row chart__bar">
        <div class="col-xl-9 mb-3">
            <!-- Graph Container -->
            <div id="chart-container" class="border rounded pt-3 bg-white" style="min-width: 310px; height: 450px; margin: 0 auto"></div>
            <!-- Graph Container -->
        </div>
        <div class="col-xl-3">
            <div class="card rounder__c mb-4">
                <div class="card-header border-bottom-0 py-4 bg-white">
                    <!-- <i class="fas fa-chart-area me-1"></i> -->
                    <h4 class="heading-style">Properties Overview</h4>
                </div>
                <div class="card-body">

                    <!-- Donut Graph Container -->
                    <div id="chartContainer1"></div>
                    <div id="chartInfo1"><span>104</span></div>
                    <div class="donut_graph_info">
                        <div class="donut_info_flex">
                            <div class="donut_info_flex_child"><span class="graph_circle bg_goodColor"></span> In Progress</div><div class="donut_info_flex_child2">70</div>
                            <div class="donut_info_flex_child"><span class="graph_circle bg_lightBlueColor"></span>Vacant</div><div class="donut_info_flex_child2">22</div>
                            <div class="donut_info_flex_child"><span class="graph_circle bg_orangeColor"></span>Expiring Soon</div><div class="donut_info_flex_child2">12</div>
                        </div>
                    </div>
                    <!-- Donut Graph Container -->

                </div>
            </div>
        </div>
    </div>

@* </div> *@



<div class="row">
                        <div class="col-xl-9">
                            <div class="card mb-4 tenancies_tt show_sort_1 no_top_search">
                                <div class="card-header border-0 bg-white">
                                    <!-- <i class="fas fa-table me-1"></i> -->
                                    <h4 class="heading-style pt-3">Tenancies</h4>
                                </div>
                                <div class="card-body  p-0">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th class="ps-2">Tenancy ID</th>
                                                <th>Description</th>
                                                <th>Start/ End Date</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">112384</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">16 Jan 2023</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">112384</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">16 Jan 2023</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites past">
                                                        <img class="pe-1" src="./assets/img/past.svg" alt="">
                                                        Past
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">112384</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">16 Jan 2023</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites rent">
                                                        <img class="pe-1" src="./assets/img/rent.svg" alt="">
                                                        Rent Arrear
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">112384</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">16 Jan 2023</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">112384</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">16 Jan 2023</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">112384</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">16 Jan 2023</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">112384</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">16 Jan 2023</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">112384</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">16 Jan 2023</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">00000</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">00000</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">00000</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">00000</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">00000</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">00000</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">00000</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">00000</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">00000</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">00000</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">00000</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">00000</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="main-text maintext_size ps-3">
                                                    <a class="u_n main-text" href="#">00000</a>
                                                </td>
                                                <td class="main-text maintext_size">
                                                    <a class="u_n main-text" href="#">
                                                        <img src="./assets/img/Location.svg" alt="">
                                                        25 Meadowford Close, London, Greenwich
                                                    </a>
                                                </td>
                                                <td class="mdblacktext">
                                                    <p class="mb-0">00000</p>
                                                    <p class="mb-0">16 May 2024</p>
                                                </td>
                                                <td class="pe-2 pe-sm-4 align-middle">
                                                    <div class="acti_vites ongoing ">
                                                        <img class="pe-1" src="./assets/img/ongoing.svg" alt="">
                                                        Ongoing
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="card rounder__c mb-4">
                                <div class="card-header border-bottom-0 pt-4 bg-white">
                                    <!-- <i class="fas fa-chart-area me-1"></i> -->
                                    <h4 class="heading-style">Recent Complaints</h4>
                                </div>
                                <div class="card-body border mx-2 mb-2 p-0 recent__c">
                                    <!-- ---content box --- -->
                                    <div class="rc__box p-3 border-bottom">
                                        <div class="row">
                                            <div class="col-9">
                                                <span class="main-text">CP3627</span>
                                            </div>
                                            <div class="col-3 text-end">
                                                <span
                                                    class="c__bages badge rounded-pill p-2 text-black border ">New</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5 class="text-black">Anti-Social Behaviour</h5>
                                            <span class="darkgray pb-2">Tenant Behaviour</span>
                                            <p class="smblacktext mb-1">Tenant (Allison Philips)</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span class="smblacktext">22 Aug 2023</span>
                                            </div>
                                            <div class="col-6 text-end">
                                                <span class="darkgray">Jacob Hershberg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ---content box --- -->

                                    <!-- ---content box --- -->
                                    <div class="rc__box p-3 border-bottom">
                                        <div class="row">
                                            <div class="col-9">
                                                <span class="main-text">CP3627</span>
                                            </div>
                                            <div class="col-3 text-end">
                                                <span
                                                    class="c__bages badge rounded-pill p-2 text-black border ">New</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5 class="text-black">Anti-Social Behaviour</h5>
                                            <span class="darkgray pb-2">Tenant Behaviour</span>
                                            <p class="smblacktext mb-1">Tenant (Allison Philips)</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span class="smblacktext">22 Aug 2023</span>
                                            </div>
                                            <div class="col-6 text-end">
                                                <span class="darkgray">Jacob Hershberg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ---content box --- -->

                                    <!-- ---content box --- -->
                                    <div class="rc__box p-3 border-bottom">
                                        <div class="row">
                                            <div class="col-9">
                                                <span class="main-text">CP3627</span>
                                            </div>
                                            <div class="col-3 text-end">
                                                <span
                                                    class="c__bages badge rounded-pill p-2 text-black border ">New</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5 class="text-black">Anti-Social Behaviour</h5>
                                            <span class="darkgray pb-2">Tenant Behaviour</span>
                                            <p class="smblacktext mb-1">Tenant (Allison Philips)</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span class="smblacktext">22 Aug 2023</span>
                                            </div>
                                            <div class="col-6 text-end">
                                                <span class="darkgray">Jacob Hershberg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ---content box --- -->

                                </div>
                            </div>
                        </div>
                    </div>


@* <div class="row">
    <div class="col-xl-9">
        <div class="card mb-4 tenancies_tt show_sort_1 no_top_search">
            <div class="card-header border-0 bg-white">
                <!-- <i class="fas fa-table me-1"></i> -->
                <h4 class="heading-style pt-3">Tenancies</h4>
            </div>
            <div class="card-body  p-0">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th class="ps-2">Tenancy ID</th>
                            <th>Description</th>
                            <th>Start/ End Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tenancies)
                        {
                            <tr>
                                <td class="main-text maintext_size ps-3">
                                    <a class="u_n main-text" asp-controller="Tenancy" asp-action="Detail" asp-route-id="@item.Id">@item.TenancyId</a>
                                </td>
                                <td class="main-text maintext_size">
                                    <a class="main-text u_n">
                                        @item.Property.PropertyType.Name No. @item.Property.FloorNumber <br> <img src="~/assets/img/Location.svg" alt=""> @item.Property.Asset.StreetAddress
                                    </a>
                                </td>
                                <td class="mdblacktext">
                                    <p class="mb-0">
                                        @if (item.StartDate == default(DateTime))
                                        {
                                            <span>N/A</span>
                                        }
                                        else
                                        {
                                            <span>@item.StartDate.ToString("dd MMM, yyyy")</span>
                                        }
                                    </p>
                                    <p class="mb-0">
                                        @if (item.EndDate == default(DateTime))
                                        {
                                            <span>N/A</span>
                                        }
                                        else
                                        {
                                            <span>@item.EndDate.ToString("dd MMM, yyyy")</span>
                                        }
                                    </p>
                                </td>
                                <td class="pe-4 align-middle">
                                    @if (item.EndDate > DateTime.Now)
                                    {
                                        <div class="ongoing_btn">
                                            <img class="pe-1" src="~/assets/img/check-file.svg" alt="">
                                            Ongoing
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="past_btn">
                                            <img class="pe-1" src="./assets/img/Completed_icon.svg" alt="">
                                            Past
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xl-3">
        <div class="card rounder__c mb-4">
            <div class="card-header border-bottom-0 pt-4 bg-white">
                <!-- <i class="fas fa-chart-area me-1"></i> -->
                <h4 class="heading-style">Recent Complaints</h4>
            </div>
            <div class="card-body border mx-2 mb-2 p-0 recent__c">
                @foreach (var item in Model.RecentComplaints)
                {
                    <div class="rc__box p-2 border-bottom">
                        <div class="row">
                            <div class="col-9">
                                <span class="main-text">@item.Id.ToString().Substring(0, 5).ToUpper()</span>
                            </div>
                            <div class="col-3 text-end">
                                @switch (item.Status)
                                {
                                    case "New":
                                        <div class="new_badges">
                                            @item.Status
                                        </div>
                                        break;
                                    case "Open":
                                        <div class="new_badges open">
                                            @item.Status
                                        </div>
                                        break;
                                    case "Resolved":
                                        <div class="new_badges resolved">
                                            @item.Status
                                        </div>
                                        break;
                                    case "Unresolved":
                                        <div class="new_badges unresolved">
                                            @item.Status
                                        </div>
                                        break;
                                    case "Cancelled":
                                        <div class="new_badges cancelled">
                                            @item.Status
                                        </div>
                                        break;
                                    default:
                                        break;
                                }
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="text-black"> @item.ComplaintNature.Name</h5>
                            <span class="darkgray pb-2">@item.ComplaintCategory.Name</span>
                            <p class="smblacktext mb-1">Tenant (@item.Tenant.FullName)</p>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="smblacktext">@item.CreatedDate?.ToString("dd MMM yyyy")</span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="darkgray">
                                    @{
                                        var user = await _userService.GetUserById(item.CreatedBy ?? Guid.Empty);
                                    }
                                    @user.Data.Name
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div> *@

<script src="~/lib/jquery/dist/jquery.js"></script>
<!-- Graph Chart Script -->
<script>
    // Sample data for income and expenses
    const data = {
        categories: ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar'],
        income: [62000, 58000, 55000, 80000, 75000, 60000, 80000, 78000, 57000, 66000, 72000, 66000],
        expenses: [10000, 12000, 22000, 35000, 10000, 22000, 22000, 22000, 22000, 22000, 22000, 22000]
    };

    // Create the chart using Highcharts
    Highcharts.chart('chart-container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Property Revenue Overview',
            align: 'left',
            style: {
                fontSize: '20px',
                fontFamily: 'sora',
                color: '#2F2E35',
                fontWeight: 400
            }
        },
        subtitle: {
            text: 'Overview of April 22 - March 23',
            align: 'left'
        },
        xAxis: {
            categories: data.categories,
            crosshair: true,
            labels: {
                style: {
                    color: '#5F6D81' // Set month color to #5F6D81
                }
            }
        },
        yAxis: {
            min: 0,
            max: 100000,
            tickInterval: 20000,
            title: {
                text: '' // Remove the "Amount" label
            },
            labels: {
                formatter: function () {
                    const valueInK = this.value / 1000;
                    return valueInK !== 0 ? '£ ' + valueInK + 'K' : '0';
                },
                style: {
                    color: '#5F6D81', // Set color for specific tick labels
                }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>£{point.y:.2f}K</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.1, // Adjust the space between columns
                groupPadding: 0.2, // Adjust the space between groups of columns
                borderWidth: 0
            }
        },
        legend: {
            layout: 'horizontal',
            align: 'right',
            verticalAlign: 'top',
            x: 0,
            y: 25,
            reversed: true // Reverse the order of legend items
        },
        credits: {
            enabled: false // Remove Highcharts.com credits
        },
        series: [{
            name: 'Expenses',
            data: data.expenses,
            color: '#344900'
        }, {
            name: 'Income',
            data: data.income,
            color: '#6D9000'
        }]
    });
</script>
<!-- Graph Chart Script -->
<!-- Donut Graph Script -->
<script>
    Highcharts.chart('chartContainer1', {
        chart: {
            type: 'pie'
        },
        title: {
            text: ''
        },
        plotOptions: {
            pie: {
                innerSize: '70%', // Set a smaller percentage for a thinner donut chart
                dataLabels: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'Information',
            data: [{
                name: 'Vacant',
                y: 22,
                color: '#0098FF'
            }, {
                name: 'In Progress',
                y: 70,
                color: '#41BD00'
            }, {
                name: 'Expiring Soon',
                y: 12,
                color: '#FF9800'
            }]
        }],
        credits: {
            enabled: false // Remove Highcharts.com credits
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal'
        }
    });

</script>
<!-- Donut Graph Script -->


@* <script>
    $('document').ready(function () {
        $(".datatable-table thead tr th button.datatable-sorter").append("<span class='c__icon'></span>");

        // Code for datatable manipulation
        var rowCount = $('.datatable-table tbody tr').length;
        var threshold = 10;
        if (rowCount < threshold) {
            $('.datatable-bottom').hide();
        } else {
            $('.datatable-bottom').show();
        }

        var filter = $(".filter_btn");
        $(".datatable-top").append(filter);

    });

    $.ajax({
        url: `/Test/OverviewJSON`,
        method: 'GET',
        dataType: 'json',
        success: function (result) {
            var categories = [];
            var income = [];
            var expenses = [];

            var totalIncome = 0;
            var totalExpense = 0;

            result.IncomeExpenses.forEach((item) => {
                categories.push(item.Month)
                income.push(item.Income)
                expenses.push(item.Expense)
                totalIncome += item.Income;
                totalExpense += item.Expense;
            });

            const data = {
                categories,
                income,
                expenses
            };

            Highcharts.chart('chart-container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Property Revenue Overview',
                    align: 'left',
                    style: {
                        fontSize: '20px',
                        fontFamily: 'sora',
                        color: '#2F2E35',
                        fontWeight: 400
                    }
                },
                subtitle: {
                    text: 'Overview of April 22 - March 23',
                    align: 'left'
                },
                xAxis: {
                    categories: data.categories,
                    crosshair: true,
                    labels: {
                        style: {
                            color: '#5F6D81' // Set month color to #5F6D81
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    max: 100000,
                    tickInterval: 20000,
                    title: {
                        text: '' // Remove the "Amount" label
                    },
                    labels: {
                        formatter: function () {
                            const valueInK = this.value / 1000;
                            return valueInK !== 0 ? '£ ' + valueInK + 'K' : '0';
                        },
                        style: {
                            color: '#5F6D81', // Set color for specific tick labels
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>£{point.y:.2f}K</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.1, // Adjust the space between columns
                        groupPadding: 0.2, // Adjust the space between groups of columns
                        borderWidth: 0
                    }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 25,
                    reversed: true // Reverse the order of legend items
                },
                credits: {
                    enabled: false // Remove Highcharts.com credits
                },
                series: [{
                    name: 'Expenses',
                    data: data.expenses,
                    color: '#344900'
                }, {
                    name: 'Income',
                    data: data.income,
                    color: '#6D9000'
                }]
            });

            $("#occupiedProperties").html(result.Occupied || 0);
            $("#vacantProperties").html(result.Vaccant || 0);
            $("#expiringProperties").html(result.Expiring || 0);
            $("#totalProperties").html(parseInt((result.Occupied || 0) + (result.Vaccant || 0) + (result.Expring || 0)));
            Highcharts.chart('chartContainer1', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                plotOptions: {
                    pie: {
                        innerSize: '70%', // Set a smaller percentage for a thinner donut chart
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    name: 'Information',
                    data: [{
                        name: 'Vacant',
                        y: result.Vaccant,
                        color: '#0098FF'
                    }, {
                        name: 'In Progress',
                        y: result.Occupied,
                        color: '#41BD00'
                    }, {
                        name: 'Expiring Soon',
                        y: result.ExpiringSoon,
                        color: '#FF9800'
                    }]
                }],
                credits: {
                    enabled: false // Remove Highcharts.com credits
                },
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    layout: 'horizontal'
                }
            });
        },
        error: function (error) { }
    });

</script> *@