@using CromWood.Business.Services.Interface;
@using CromWood.Data.Entities.Default;
@model CromWood.Business.Models.ViewModel.PaymentPlanViewModel
@inject ITenantService _tenantService;
@inject ITenancyService _tenancyService;
@inject ILookupService<InstallmentType> _installmentService;

@{
    var asyncStatement = await _tenancyService.GetStatements(Model.ReferenceStatement.TenancyId);
    var asyncTenants = await _tenancyService.GetTenancyTenants(Model.ReferenceStatement.TenancyId);
    var asyncTypes = await _installmentService.GetAllItems();
    var statements = new SelectList(asyncStatement.Data, "Id", "ReferenceID");
    var tenants = new SelectList(asyncTenants.Data, "Id", "FullName");
    var types = new SelectList(asyncTypes.Data, "Id", "Name");
    var paidBy = await _tenantService.GetTenantViewModel(Model.ToPaidBy ?? Guid.Empty);

    // According to the type append row into the installments table.
    // type = $(this).find(':selected').val();

    // amount = $("#amount").val();
    // starting = new Date($("#StartDate").val());
    // toBePaid = $("#amounttobepaid").val();

    int addMonth = 0;
    float amount = Model.Amount;
    DateTime starting = Model.InstallmentStart;
    float toBePaid = Model.InstallmentAmount;
    // For Monthly
    if (Model.InstallmentTypeId == Guid.Parse("a8228559-11be-4d9a-9544-8241f2ec59c1"))
    {
        addMonth = 0;
    }
    // For Quarterly
    if (Model.InstallmentTypeId == Guid.Parse("c6f007f8-2d30-49a0-a248-add219f4748d"))
    {
        addMonth = 2;
    }
    // For Bi Anually
    if (Model.InstallmentTypeId == Guid.Parse("64432c8e-8cc3-4365-a8f5-e4dc925c42fd"))
    {
        addMonth = 5;
    }
    // For Anually
    if (Model.InstallmentTypeId == Guid.Parse("914d1a66-0ee7-45f6-ab77-19c928c5a426"))
    {
        addMonth = 11;
    }

    int period = Convert.ToInt32(Math.Ceiling(Model.Amount / Model.InstallmentAmount));
    float remaining = Model.Amount;
    float balance = Model.Amount - Model.Transactions.Sum(x => x.Amount);
    // $("#installmentTableBody").find('*').remove().end();
    //     for (i = 0; i < period; i++)
    //     {
    //         if (i == period - 1)
    //         {
    //             toBePaid = toBePaid - remaining;
    //         }
    //         remaining -= toBePaid;
    //         const newMonth = starting.setMonth(starting.getMonth() + i + addMonth);
    //         const withIntrest = parseFloat(toBePaid * 1.025).toFixed(2);
    //     $("#installmentTableBody").append(`
    //                 < tr >
    //                 < td >${ i + 1}</ td >
    //                 < td > ${ new Date(newMonth)}</ td >
    //                 < td >£ ${ amount}</ td >
    //                 < td >£ ${ toBePaid}</ td >
    //                 < td > 2.5 %</ td >
    //                 < td >£ ${ withIntrest}</ td >
    //                 < td >£ ${ remaining}</ td >
    //                 </ tr >
    //                 `)
    // }

}

<div class="modal-content rounded-0 model-custom-bg">
    <div class="modal-header modal_header_fixed py-2 bg-white">
        <h5 class="modal-title" id="staticBackdropLabel">Payment Plan @Model.Id.ToString().Substring(0,5).ToUpper()</h5>
        <span class="pagagraph ms-2">2023-08-24</span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body pt-0">
        <div class="row">
            <div class="top_bar__fixed">
                <div class="d-flex justify-content-between">
                    <h5 class="modal-title" id="staticBackdropLabel">Payment Plan Details</h5>
                    <div class="dropdown">
                        <div class="shadow-box ms-auto">
                            <a class="text-decoration-none custom__btn action_dropwown" href="#"
                               role="button" id="acp-action" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="~/assets/img/settings-02.svg" alt="setting_icon">
                                Actions
                                <img src="~/assets/img/down_arrow.svg">
                            </a>
                            <ul class="dropdown-menu shadow border-0 dropdown-menu-end rounded-0 p-0"
                                aria-labelledby="acp-action">
                                <li><a class="dropdown-item" href="#">Edit Plan</a></li>
                                <li><a class="dropdown-item" href="#">Add Payment</a></li>
                                <li><a class="dropdown-item" href="#">Print</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="mt-1">
                    <div class="nav nav-tabs flex-nowrap" id="nav-tab" role="tablist">
                        <a class="nav-link active w-100 text-center" id="Overview-tab-tab"
                           data-bs-toggle="tab" data-bs-target="#Overview_tab" type="button" role="tab"
                           aria-controls="Overview-tab" aria-selected="false">Overview</a>
                        <a class="nav-link w-100 text-center" id="Statement-tab" data-bs-toggle="tab"
                           data-bs-target="#Statement_tab" type="button" role="tab"
                           aria-controls="Statement_tab" aria-selected="false">Statement</a>
                        <a class="nav-link w-100 text-center" id="Edit_Transaction-tab" data-bs-toggle="tab"
                           data-bs-target="#Edit_Transaction" type="button" role="tab"
                           aria-controls="Edit_Transaction" aria-selected="false">Edit Transaction</a>
                        <a class="nav-link w-100 text-center" id="Activity-tab" data-bs-toggle="tab"
                           data-bs-target="#Activity__tab" type="button" role="tab"
                           aria-controls="Activity__tab" aria-selected="false">Activity</a>
                    </div>
                </nav>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <!-- ----- Overview Tab Start ---- -->
                <div class="tab-pane fade show active h-100 mb-0 rp_popup" id="Overview_tab" role="tabpanel"
                     aria-labelledby="nav-building-details-tab">
                    <div class="step_body_content2 pe-2">
                        <div class="p-3 bg-white rounded border border-top-0">
                            <div class="main_insurence">
                                <h5 class="modal-title mb-2" id="">Overview</h5>
                                <div class="row">
                                    <div class="col-xl-3">
                                        <span class="owner_clr mt-2 pt-2">Transaction Reference ID</span>
                                        <p class="main-text mb-3">@Model.ReferenceStatement.ReferenceID</p>
                                        <span class="owner_clr d-inline-block">Description</span>
                                        <p class="pagagraph mb-3">@Model.Description</p>
                                        <span class="owner_clr d-inline-block">Total Paid</span>
                                        <p class="pagagraph mb-3">£ @Model.Transactions.Sum(x=>x.Amount)</p>

                                    </div>
                                    <div class="col-xl-4">
                                        <span class="owner_clr mt-2 pt-2">Total Amount</span>
                                        <p class="pagagraph mb-3">£ @Model.Amount (0% Interest)</p>
                                        <span class="owner_clr d-inline-block">Installments</span>
                                        <p class="pagagraph">@Model.NoOfInstallment x £@Model.InstallmentAmount (to be paid monthly)</p>
                                        <span class="owner_clr d-inline-block">Outstanding</span>
                                        <p class="pagagraph">£ @(Model.Amount - Model.Transactions.Sum(x => x.Amount))</p>
                                    </div>
                                    <div class="col-xl-5">
                                        <span class="owner_clr d-inline-block pt-2">Address</span><br />
                                        <a class="main-text d-inline-block mb-3">
                                            <img src="~/assets/img/Location.svg" alt="">
                                            @Model.ReferenceStatement.Tenancy.Property.Asset.StreetAddress
                                        </a>
                                        <br />
                                        <span class="owner_clr d-inline-block">Tenancy</span>
                                        <p class="main-text mb-3">@Model.ReferenceStatement.Tenancy.TenancyId</p>
                                        <span class="owner_clr d-inline-block">Primary Tenant</span>
                                        <span class="owner_clr d-inline-block">To Be Paid By</span>
                                        <p class="main-text mb-3">@paidBy.Data.FullName</p>
                                    </div>
                                </div>
                            </div>
                            <h4 class="sora_16 pb-1">Installment Forecast</h4>
                            <div class="light_bg_table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Payment Date</th>
                                            <th>Total Balance</th>
                                            <th>Amount</th>
                                            <th>Interest Charge</th>
                                            <th>Total Amount</th>
                                            <th>Amount Pending</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < period; i++)
                                        {
                                            if (i == period - 1 && toBePaid != remaining)
                                            {
                                                toBePaid = toBePaid - remaining;
                                            }
                                            remaining -= toBePaid;
                                            starting = starting.AddMonths(addMonth + 1);
                                            var withIntrest = Math.Round(toBePaid * 1.025, 2);
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@starting.ToString("MMM dd, yyyy")</td>
                                                <td>£ @amount</td>
                                                <td>£ @toBePaid</td>
                                                <td>2.5%</td>
                                                <td>£ @withIntrest</td>
                                                <td>£ @remaining</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----- Overview Tab End  ---- -->
                <!-- ----- Statement_tab Tab Start ---- -->
                <div class="tab-pane fade" id="Statement_tab" role="tabpanel"
                     aria-labelledby="nav-inspection-details-tab">
                    <div class="step_body_content2 mb-3 pe-2">
                        <div class="bg-white rounded border border-top-0">
                            <div class="px-3">
                                <div class="row">
                                    <h5 class="modal-title mt-2 pt-1 mb-3" id="">
                                        Statement
                                    </h5>
                                </div>
                            </div>
                            <div class="no_searchontable ser_lpading bg-white sm48__row_table table_bottom_border hide_sort_all">
                                <table id="Statement___tab">
                                    <thead>
                                        <tr>
                                            <th class="maintable_head">Ref ID</th>
                                            <th class="maintable_head">Date</th>
                                            <th class="maintable_head">Transaction Type</th>
                                            <th class="maintable_head">Description</th>
                                            <th class="maintable_head">Paid By</th>
                                            <th class="maintable_head">Received</th>
                                            <th class="maintable_head">Balance</th>
                                            <th class="maintable_head">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Transactions)
                                        {

                                            <tr>
                                                <td class="align-top">
                                                    <a class="green_12 u_n" href="#">
                                                        @item.ReferenceID
                                                    </a>
                                                </td>
                                                <td class="align-top">
                                                    <span class="black_12 d-inline-block mb-1">
                                                        @item.PaymentDate.ToString("dd MMM yyyy")
                                                    </span>
                                                </td>
                                                <td class="align-top">
                                                    <span class="black_12 d-inline-block mb-1">
                                                        Tenancy Receipt
                                                    </span>
                                                </td>
                                                <td class="align-top">
                                                    <span class="black_12 d-inline-block mb-1">
                                                        @item.Description
                                                    </span>
                                                    <br><span class="gray_12">Charge Ref:</span>
                                                    <span class="st_dis">@Model.ReferenceStatement.ReferenceID</span>
                                                    <br><span class="gray_12">Tenancy:</span>
                                                    <span class="st_dis">@Model.ReferenceStatement.Tenancy.TenancyId @paidBy.Data.FullName</span>
                                                    <br><span class="gray_12">Property:</span>
                                                    <span class="st_dis">@Model.ReferenceStatement.Tenancy.Property.PropertyCode</span>
                                                </td>
                                                <td class="align-top">
                                                    <span class="black_12 d-inline-block">
                                                        Tenant<br />
                                                        (@paidBy.Data.FullName)
                                                    </span>
                                                </td>
                                                <td class="align-top">
                                                    <span class="black_12 d-inline-block">£ @item.Amount</span>
                                                </td>
                                                <td class="align-top">
                                                    <span class="black_12 d-inline-block">£ @balance </span>
                                                </td>
                                                <td class="maintext_size text-end">
                                                    <div class="d-inline-flex ">
                                                        <a href="#">
                                                            <img src="~/assets/img/eye.svg">
                                                        </a>
                                                        <div class="dropdown">
                                                            <a class="text-decoration-none action_dropwown"
                                                            href="#" role="button" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                                <img src="~/assets/img/down_arrow.svg"
                                                                class="ms-2">
                                                            </a>
                                                            <ul class="dropdown-menu shadow border-0 dropdown-menu-end rounded-0 p-0"
                                                            aria-labelledby="acp-action">
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                                balance = balance + item.Amount;
                                                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----- Statement_tab Tab End ---- -->
                <!-- ----- Edit Transaction Start ---- -->
                <div class="tab-pane fade border-top-0 h-100 rp_popup" id="Edit_Transaction" role="tabpanel"
                     aria-labelledby="nav-building-items-tab">
                    <div class="step_body_content2 mb-3 pe-2">
                        <div class="p-3 bg-white border border-top-0">
                            <h5 class="modal-title mb-3" id="">Edit Payment Plan</h5>
                            <form asp-action="AddModifyPaymentPlan" asp-route-tenancyId="@Model.ReferenceStatement.TenancyId">
                                @Html.HiddenFor(m=>m.Id)
                                @Html.HiddenFor(m=>m.NoOfInstallment)
                                <div class="modal-body">
                                    <div class="step_body_content3 mb-3 pe-2">
                                        <div class="mb-3 border p-3 bg-white">
                                            @* As Tenancy is linked with statements this is not needed here. *@
                                            @* <div class="input__field mb-3">
                                            <label for="Tenancy" class="form-label">Tenancy</label>
                                            <select class="form-select select_font_14 select__search"
                                            aria-label="Default select example">
                                            <option selected>Select Tenancy</option>
                                            <option value="1">Property owner</option>
                                            <option value="2">Contractor</option>
                                            </select>
                                            </div> *@
                                            <div class="input__field mb-3">
                                                <label for="Reference_Transaction" class="form-label">
                                                    Reference Transaction
                                                    <small class="gray_12 ps-2">
                                                        (Only Outstanding/ Overdue Payments can be
                                                        selected)
                                                    </small>
                                                </label>
                                                <select id="statement" asp-for="ReferenceStatementId" asp-items="statements" class="form-select select_font_14 select__search">
                                                </select>
                                            </div>
                                            <div class="d-flex mt-3 gap-3">
                                                <div class="input__field w-100">
                                                    <label for="Tobepaidby" class="form-label">To be paid by</label>
                                                    <select id="tenant-sel" asp-for="ToPaidBy" asp-items="tenants" class="form-select select_font_14">
                                                    </select>
                                                </div>
                                                <div class="input__field w-100">
                                                    <label for="amount" class="form-label">Amount</label>
                                                    <input type="number" class="form-control" asp-for="Amount" placeholder="£ 1,200.00"
                                                           id="amount">
                                                </div>
                                                <div class="input__field w-100">
                                                    <label for="description" class="form-label">Description</label>
                                                    <input type="text" class="form-control" asp-for="Description" placeholder="Enter Description"
                                                           id="description">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 border p-3 bg-white">
                                            <h5 class="modal-title mb-0" id="">Installment Details</h5>
                                            <div class="d-flex mt-3 gap-3">
                                                <div class="input__field w-100">
                                                    <label for="InstallmentType" class="form-label">Installment Type</label>
                                                    <select id="installmenttype" asp-for="InstallmentTypeId" asp-items="types" class="form-select select_font_14">
                                                    </select>
                                                </div>
                                                <div class="input__field w-100">
                                                    <label for="amounttobepaid" class="form-label">Amount to be paid</label>
                                                    <input type="number" class="form-control" asp-for="InstallmentAmount" placeholder="£ 200"
                                                           id="amounttobepaid">
                                                </div>
                                                <div class="input__field w-100">
                                                    <label for="StartDate" class="form-label">Start Date</label>
                                                    <input type="date" class="form-control" asp-for="InstallmentStart" placeholder="15 /10 / 2023"
                                                           id="StartDate">
                                                </div>
                                            </div>
                                            <h4 class="sora_16 mt-3 pb-1">Installment Forecast</h4>
                                            <div class="light_bg_table table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>S No.</th>
                                                            <th>Payment Date</th>
                                                            <th>Total Balance</th>
                                                            <th>Amount</th>
                                                            <th>Interest Charge</th>
                                                            <th>Total Amount</th>
                                                            <th>Amount Pending</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="installmentTableBody">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="popup_footer_fixed border-top d-flex justify-content-between bg-white">
                                    <div class="shadow-box">
                                        <a data-bs-dismiss="modal" class="custom__btn">
                                            Cancel
                                        </a>
                                    </div>
                                    <div class="shadow-box ms-auto">
                                        <a class="custom__btn2" onclick="paymentPlanSubmitBtn.click()">
                                            <img class="pe-1" src="~/assets/img/save-role.svg" alt="save icon">
                                            Save Payment Plan
                                        </a>
                                    </div>
                                </div>
                                <input id="paymentPlanSubmitBtn" type="submit" hidden />
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ----- Edit Transaction End ---- -->
                <!-- ----- Activity Start ---- -->
                <div class="tab-pane fade border-top-0 h-100" id="Activity__tab" role="tabpanel"
                     aria-labelledby="nav-building-items-tab">
                    <div class="step_body_content2 mb-3 pe-2">
                        <div class="p-3 border bg-white border-top-0 h-100">
                            <div class="px-3">
                                <div class="row">
                                    <h5 class="modal-title mt-2 pt-1 mb-3" id="">
                                        Activity
                                    </h5>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <img src="~/assets/img/euro.svg" alt="euro_icon">
                                    </div>
                                    <div>
                                        <p class="black_light12 mb-0">
                                            Transaction added to PP1025, "Rent received Dario Jorge Ventura
                                            Da Silva for 1st Aug 2023" as "Tenancy Receipt"
                                        </p>
                                        <span class="green_12"> Show Transaction</span>
                                        <img src="~/assets/img/link__icon.svg" alt="link__icon">
                                        <small class="cre d-block" style="color:#768293;">
                                            By Jacob Hershberg at 28 Aug 2023, 1:18 PM. (Time UTC: 28 Aug
                                            2023, 12:18 PM)
                                        </small>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-3">
                                    <div>
                                        <img src="~/assets/img/euro.svg" alt="euro_icon">
                                    </div>
                                    <div>
                                        <p class="black_light12 mb-0">
                                            Transaction added to PP1025, "Rent received Dario Jorge Ventura
                                            Da Silva for 1st Aug 2023" as "Tenancy Receipt"
                                        </p>
                                        <small class="cre d-block" style="color:#768293;">
                                            By Jacob Hershberg at 28 Aug 2023, 1:18 PM. (Time UTC: 28 Aug
                                            2023, 12:18 PM)
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----- Activity End ---- -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.select_font_14').select2({
            theme: "bootstrap-5",
            placeholder: "Select...",
            dropdownAutoWidth: true,
            width: '100%',
            dropdownCssClass: "select_font_14"
        });

        $('.select__search').select2({
            theme: "bootstrap-5",
            dropdownAutoWidth: true,
            placeholder: "Select...",
            width: '100%',
            dropdownCssClass: "select__search"
        });
        
        const Statement___tab = document.getElementById('Statement___tab');
        if (Statement___tab) {
            new simpleDatatables.DataTable(Statement___tab);
        }
        $(".datatable-table thead tr th button.datatable-sorter").append("<span class='c__icon'></span>");

        // Code for datatable manipulation
        var rowCount = $('.datatable-table tbody tr').length;
        var threshold = 10;
        if (rowCount < threshold) {
            $('.datatable-bottom').hide();
        } else {
            $('.datatable-bottom').show();
        }
    });
</script>