@using CromWood.Business.Services.Interface;
@inject IPropertyAssesmentService _assesmentService;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var rawId = ViewContext.RouteData.Values["id"] as string;
    var id = Guid.Parse(rawId);
    var assesment = await _assesmentService.GetPropertyAssesment(id);

    var stringId = "'" + id + "'";
    var completed = assesment.Data.DateTime < DateTime.Now;
}

<ol class="breadcrumb align-items-end mb-10 mt-3">
    <li class="breadcrumb-item">
        <a asp-controller="Test" asp-action="Index"><img src="~/assets/img/Home_icon.svg" alt="home_iocn"></a>
    </li>
    <li class="breadcrumb-item active"><a asp-action="Index" class="text-decoration-none"><span class="a_m">Property Condition Assessment</span></a></li>
    <li class="breadcrumb-item active">@assesment.Data.InspectionID</li>
</ol>
<div class="row">
    <div class="col-xl-4 d-flex">
        <h1 class="mb-3 custom_h">
            <a asp-action="Index"><img src="~/assets/img/left_Icon.svg"></a>&nbsp @assesment.Data.InspectionID
        </h1>

        @if (completed)
        {
            <div class="paid_btn payment p_comp ms-3">
                Completed
            </div>
        }
        else
        {
            <div class="paid_btn purple p_comp ms-3">
                Started
            </div>
        }
        
    </div>
    <div class="col-xl-2">
        <span class="owner_clr"> </span>
        <h2 class="etm"></h2>
    </div>
    <div class="col-xl-1">
        &nbsp;
    </div>
    <div class="col-xl-2">
        <span class="owner_clr"></span>
        <h2 class="expd"></h2>
    </div>
</div>

<nav class="pt-1">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link" id="nav-building-details" asp-route-id="@assesment.Data.Id" asp-action="BuildingDetail">Building Details</a>
        <a class="nav-link" id="nav-inspection-details" asp-route-id="@assesment.Data.Id" asp-action="InspectionDetail">
            Inspection Details
        </a>
        <a class="nav-link" id="nav-building-items" asp-route-id="@assesment.Data.Id" asp-action="BuildingItems">Building Items</a>
        <a class="nav-link" id="nav-building-images" asp-route-id="@assesment.Data.Id" asp-action="BuildingImages">Building Images</a>
        <a class="nav-link" id="nav-capital-forecast-tab">
            Capital Cost
            Forecast Details
        </a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    @RenderBody()
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

@await RenderSectionAsync("Scripts", required: false)

<script>
    if (window.location.pathname.includes('/PropertyAssesment/BuildingDetail')) {
        document.getElementById("nav-building-details").classList.add('active');
    }
    if (window.location.pathname.includes('/PropertyAssesment/BuildingItems')) {
        document.getElementById("nav-building-items").classList.add('active');
    }
    if (window.location.pathname.includes('/PropertyAssesment/BuildingImages')) {
        document.getElementById("nav-building-images").classList.add('active');
    }
    if (window.location.pathname.includes('/PropertyAssesment/InspectionDetail')) {
        document.getElementById("nav-inspection-details").classList.add('active');
    }

</script>
