@using CromWood.Business.Services.Interface;
@inject IPropertyService _propertyService;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var rawId = ViewContext.RouteData.Values["id"] as string;
    var id = Guid.Parse(rawId);
    var property = await _propertyService.GetPropertyOverView(id);
    var tenancyExist = property.Data.Tenancies.Count > 0;
    var availableToLet = tenancyExist ? (property.Data.Tenancies.Any(x => x.EndDate > DateTime.Now) ? false : true) : true;
}


<ol class="breadcrumb align-items-end mb-3 mt-3">
    <li class="breadcrumb-item">
        <a asp-controller="Test" asp-action="Index"><img src="~/assets/img/Home_icon.svg" alt="home_iocn"></a>
    </li>
    <li class="breadcrumb-item"><a asp-action="Index" ><span class="a_m">Property Management</span></a></li>
    <li class="breadcrumb-item active">@property.Data.PropertyCode</li>

</ol>
<div class="Property__t-bar d-flex align-items-center">
    <h1 class="mt-3 custom_h">
        <a asp-action="Index" class="text-decoration-none pe-1">
            <img src="~/assets/img/left_Icon.svg" alt="">
        </a>
        @property.Data.PropertyCode
    </h1>
    @if (availableToLet)
    {
        <div class="property_tab_bage ps-3 pe-2">
            <div class="avail_bage">
                <span>
                    <img class="pe-1" src="~/assets/img/gree_circle.svg" alt="circle_">
                    Available To Let
                </span>
            </div>
        </div>
    }
    else
    {
        <div class="property_tab_bage ps-3 pe-2">
            <div class="occupied_bage">
                <span>
                    <img class="pe-1" src="~/assets/img/Ellipse 11 red.svg" alt="circle_">
                    Occupied
                </span>
            </div>
        </div>
    }

    <div class="d-flex ms-1 all_tab_tb align-items-end">
        <div class="cre ms-3">
            <p class="mb-0">Created on: @property.Data.CreatedDate?.ToString("yyyy-MM-dd")</p>
            <p class="mb-0"> Last Modified: @property.Data.UpdatedDate?.ToString("yyyy-MM-dd")</p>
        </div>
        <a class="v_c" asp-action="ChangeLog" asp-route-id="@property.Data.Id" asp-route-propertyId="@property.Data.PropertyCode">View Changelog</a>
    </div>
</div>

<nav class="mt-3 pt-1">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link text-capitalize" id="nav-property-overview-tab" asp-route-id="@property.Data.Id" asp-action="Overview">
            property overview
        </a>
        <a class="nav-link text-capitalize" id="nav-property-detail-tab" asp-route-id="@property.Data.Id" asp-action="Detail">
            property details
        </a>
        <a class="nav-link text-capitalize" id="nav-insurance-detail-tab" asp-route-id="@property.Data.Id" asp-action="Insurance">
            insurance details
        </a>
        <a class="nav-link text-capitalize" id="nav-key-tab" asp-route-id="@property.Data.Id" asp-action="Keys">
            keys
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-tab" asp-route-id="@property.Data.Id" asp-action="Tenancy">
            tenancy details
        </a>
        <a class="nav-link text-capitalize" id="nav-condition-assesment-tab" asp-route-id="@property.Data.Id" asp-action="ConditonAssesment">
            condition assesment
        </a>
        <a class="nav-link text-capitalize" id="nav-licensing-tab" asp-route-id="@property.Data.Id" asp-action="Licensing">
            licensing and certification
        </a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    @RenderBody()
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
@await RenderSectionAsync("Scripts", required: false)

<script>
    if (window.location.pathname.includes('/Property/Overview')) {
        document.getElementById("nav-property-overview-tab").classList.add('active');
    }
    if (window.location.pathname.includes('/Property/Detail')) {
        document.getElementById("nav-property-detail-tab").classList.add('active');
    }
    if (window.location.pathname.includes('/Property/Insurance')) {
        document.getElementById("nav-insurance-detail-tab").classList.add('active');
    }
    if (window.location.pathname.includes('/Property/Keys')) {
        document.getElementById("nav-key-tab").classList.add('active');
    }
    if (window.location.pathname.includes('/Property/Tenancy')) {
        document.getElementById("nav-tenancy-tab").classList.add('active');
    }
    if (window.location.pathname.includes('/Property/Licensing')) {
        document.getElementById("nav-licensing-tab").classList.add('active');
    }
</script>
