@using CromWood.Business.Services.Interface;
@inject ITenancyService _tenancyService;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var rawId = ViewContext.RouteData.Values["id"] as string;
    var id = Guid.Parse(rawId ?? Guid.Empty.ToString());
    var tenancy = await _tenancyService.GetTenancyViewDetail(id);
}


<ol class="breadcrumb align-items-end mb-3 mt-3">
    <li class="breadcrumb-item">
        <a asp-action="Index" asp-controller="Test"><img src="~/assets/img/Home_icon.svg" alt="home_iocn"></a>
    </li>
    <li class="breadcrumb-item"><a class="a_m" asp-action="Index">Tenancy Management</a></li>
    <li class="breadcrumb-item active">@tenancy.Data.TenancyId</li>
</ol>
<div class="row mb-2">
    <div class="col-xl-4 d-flex align-items-center">
        <h1 class="mt-2 mb-3 custom_h">
            <a asp-action="Index"><img src="~/assets/img/left_Icon.svg"></a>&nbsp @tenancy.Data.TenancyId
        </h1>

        <div class="alert_btn_tm mx-4 mb-2">
            <img class="pe-1" src="~/assets/img/alert-triangle.svg" alt="">
            Rent Arrear
        </div>
    </div>
    <div class="col-xl-1">
        <span class="owner_clr"> </span>
        <h2 class="etm"></h2>
    </div>

    <div class="col-xl-5">
        <span class="owner_clr"></span>
        <h2 class="expd"></h2>
    </div>

    <div class="col-xl-2">
        <span class="owner_clr mx-3">Balance</span>
        <h2 class="expd">
            - £ 2,500 <img class="info_circle mb-1" src="~/assets/img/info-circle.svg">
        </h2>
    </div>
</div>


<nav class="user___tabs">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link text-capitalize" id="nav-tenancy-overview-tab" asp-route-id="@tenancy.Data.Id" asp-action="Detail">
            tenancy details
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-tenants" asp-route-id="@tenancy.Data.Id" asp-action="Tenants">
            tenants
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-notes" asp-route-id="@tenancy.Data.Id" asp-action="Notes">
            notes
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-documents" asp-route-id="@tenancy.Data.Id" asp-action="Documents">
            documents
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-statement" asp-route-id="@tenancy.Data.Id" asp-action="Statements">
            statement
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-recurring-charges" asp-route-id="@tenancy.Data.Id" asp-action="RecurringCharges">
            recurring charges
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-payment-plans" asp-route-id="@tenancy.Data.Id" asp-action="PaymentPlan">
            payment plans
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-complaints" asp-route-id="@tenancy.Data.Id" asp-action="Complaints">
            complaints
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-messages" asp-route-id="@tenancy.Data.Id" asp-action="Messages">
            messages
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-notices" asp-route-id="@tenancy.Data.Id" asp-action="Notices">
            notices
        </a>
        <a class="nav-link text-capitalize" id="nav-tenancy-utilities" asp-route-id="@tenancy.Data.Id" asp-action="UnitUtilities">
            unit utitlities
        </a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    @RenderBody()
</div>

<script>
    if (window.location.pathname.includes('/Tenancy/Detail')) {
        document.getElementById("nav-tenancy-overview-tab").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/Tenants')) {
        document.getElementById("nav-tenancy-tenants").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/Notes')) {
        document.getElementById("nav-tenancy-notes").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/Documents')) {
        document.getElementById("nav-tenancy-documents").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/Statement')) {
        document.getElementById("nav-tenancy-statement").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/Complaints')) {
        document.getElementById("nav-tenancy-complaints").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/Notices')) {
        document.getElementById("nav-tenancy-notices").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/Messages')) {
        document.getElementById("nav-tenancy-messages").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/UnitUtilities')) {
        document.getElementById("nav-tenancy-utilities").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/RecurringCharges')) {
        document.getElementById("nav-tenancy-recurring-charges").classList.add('active');
    }
    if (window.location.pathname.includes('/Tenancy/Statements')) {
        document.getElementById("nav-tenancy-statement").classList.add('active');
    }
</script>
