@using CromWood.Business.Constants;
@using CromWood.Business.Services.Interface;
@using CromWood.Business.Models.ViewModel;
@model IEnumerable<AssetViewModel>
@inject IAuthService _authService;

@{
    ViewData["Title"] = "| Assets";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var screenName = PermissionKeyConstant.AssetManagement;
    var havePermission = await _authService.CheckPermission(PermissionKeyConstant.AssetManagement, PermissionConstant.CanWrite);
}

<ol class="breadcrumb align-items-end mb-10 mt-3">
    <li class="breadcrumb-item">
        <a asp-action="Index" asp-controller="Test"><img src="~/assets/img/Home_icon.svg" alt="home_iocn"></a>
    </li>
    <li class="breadcrumb-item active">Asset Management</li>
</ol>
<div class="row">
    <div class="col-xl-6">
        <h1 class="mt-2 mb-3 custom_h">Asset Management</h1>
    </div>

    <div class="col-xl-6">
        <div class="pair_btn">
            <div class="shadow-box ms-auto">
                <span class="custom__btn">
                    <form asp-action="Export" method="post">
                        <a onclick="submitBtn.click()">
                            <img src="~/assets/img/explor_icon.svg" class="pe-2" alt="">
                            Export XLS
                        </a>
                        <input id="submitBtn" type="submit" hidden />
                    </form>
                </span>
                <span class="custom__btn2">
                    <a onclick="CreateAsset()">
                        <img src="~/assets/img/add_new_icon.svg" class="pe-2" alt="">
                        add new Asset
                    </a>
                </span>
            </div>
        </div>
    </div>


</div>

<!------- filter start here ------>
<div class="filter_btn ms-auto" id="filterBox">
    
</div>
<!----------- filter end here  --------->

<div class="user__list as__menag mt-1 sm48__row_table hide_sort_all pt-0 table_bottom_border">
    <table id="datatablesSimple" class="border rounded-top border-bottom-0">
        <thead>
            <tr>
                <th class="maintable_head">S. No.</th>
                <th class="maintable_head">Asset ID</th>
                <th class="maintable_head">Street Address</th>
                <th class="maintable_head">Ownership</th>
                <th class="maintable_head text-center">Available Units</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="maintext_size">
                        @(index + 1).
                        @{
                            index = index + 1;
                        }
                    </td>
                    <td class="maintext_size">
                        <a asp-action="AssetDetail" asp-route-id="@item.Id" class="u_n main-text">
                            @item.AssetId
                        </a>
                    </td>
                    <td class="maintext_size">@item.StreetAddress</td>
                    <td class="maintext_size">@item.Ownership</td>
                    <td class="maintext_size text-center">@item.AvailableUnit/@item.TotalUnit</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="assetDialog">
    <div class="modal-dialog modal-dialog-centered" id="assetDialogBody">
    </div>
</div>

@section Scripts {
    <script>

        $('document').ready(function () {
            $(".datatable-table thead tr th button.datatable-sorter").append("<span class='c__icon'></span>");

            // Code for datatable manipulation
            var rowCount = $('.datatable-table tbody tr').length;
            var threshold = 10;
            if (rowCount < threshold) {
                $('.datatable-bottom').hide();
            } else {
                $('.datatable-bottom').show();
            }

            var filter = $(".filter_btn");
            $(".datatable-top").append(filter);

            // For the Filter
            $("#filterBox").load("/Filter/Index?keyName=@screenName", function () {
                $("#filterBox").show();
            });

        });

        function CreateAsset() {
            var havePermission = '@havePermission.ToString()';
            if (havePermission == 'False') {
                $.get('/Auth/NotAuthorizedJSON', function (result) {
                    window.location.pathname = "/Auth/NotAuthorized"
                });
                return;
            }
            var url = "/Asset/AddAsset";
            $("#assetDialogBody").load(url, function () {
                // This is done to add validation to partial view, as they don't support validationscript partial.
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", function () {
                    $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js", function () {
                    });
                });
                $("#assetDialogBody").css("max-width", "950px");
                $("#assetDialogBody").css("width", "100%");
                $("#assetDialog").modal("show");
            });
        }

        function DeleteLicense(id) {
            var url = "/LicenseCertification/DeleteLicense?id=" + id;
            $.ajax({
                type: "POST",
                url: url,
                success: function (result) {
                    window.location.reload();
                },
                error: function () {
                }
            })
        }
    </script>
}